Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

chat:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/chat') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/chat/docker-image.digest.txt'
            }
  ...

clsi:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/clsi') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/clsi/docker-image.digest.txt'
            }
  ...

contacts:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/contacts') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/contacts/docker-image.digest.txt'
  ...

docstore:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/docstore') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/docstore/docker-image.digest.txt'
  ...

document-updater:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/document-updater') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
  ...

filestore:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/filestore') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/filestore/docker-image.digest.txt'
  ...

linked-url-proxy:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/linked-url-proxy') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
  ...

notifications:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/notifications') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
  ...

real-time:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/real-time') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/real-time/docker-image.digest.txt'
  ...

[misc] omit empty fields in compile responses
  services/clsi/pkg/types/compile.go
  services/web/pkg/types/compileProject.go
Due: clsi, web

[misc] make use of SyncType.IsFull() in clsi and web
  services/clsi/pkg/managers/clsi/internal/project/project.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
Due: clsi, web

[web] implement TeXLive image name override
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/types/options.go
Due: web

[web] implement clsi persistence and options validation
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/options.go
Due: web

[misc] minimal cleanup on type conversions
  services/chat/pkg/managers/chat/internal/message/messageManager.go
  services/web/options.go
Due: chat, web

[misc] delete all the redundant editor configs and LICENSE files
  services/chat/.editorconfig
  services/chat/LICENSE
  services/clsi/.editorconfig
  services/clsi/LICENSE
  services/contacts/.editorconfig
  services/contacts/LICENSE
  services/docstore/.editorconfig
  services/docstore/LICENSE
  services/document-updater/.editorconfig
  services/document-updater/LICENSE
  services/filestore/.editorconfig
  services/filestore/LICENSE
  services/linked-url-proxy/.editorconfig
  services/linked-url-proxy/LICENSE
  services/notifications/.editorconfig
  services/notifications/LICENSE
  services/real-time/.editorconfig
  services/real-time/LICENSE
  services/spelling/.editorconfig
  services/spelling/LICENSE
  services/web/.editorconfig
  services/web/LICENSE
Due: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

[misc] fix/ignore all spelling/grammar errors as reported by GoLand
  services/clsi/pkg/constants/constants.go
  services/clsi/pkg/managers/clsi/internal/latexRunner/latexRunner.go
  services/clsi/pkg/managers/clsi/internal/outputCache/outputCacheManager.go
  services/clsi/pkg/managers/clsi/internal/resourceCleanup/resourceCleanup.go
  services/clsi/pkg/managers/clsi/internal/rootDocAlias/rootDocAlias.go
  services/clsi/pkg/managers/clsi/internal/wordCounter/wordCounter.go
  services/clsi/pkg/types/options.go
  services/docstore/pkg/models/models.go
  services/document-updater/pkg/managers/documentUpdater/internal/redisLocker/redisLocker.go
  services/document-updater/pkg/managers/documentUpdater/internal/redisManager/redisManager.go
  services/document-updater/pkg/sharejs/types/text/diff_test.go
  services/real-time/pkg/managers/realTime/internal/editorEvents/pubSub.go
Due: clsi, docstore, document-updater, real-time

[web] abstract performing clsi request with persistence from /compile
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/compile/persistence.go
Due: web

[web] add an endpoint for clearing a projects clsi cache
  services/web/httpController.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/compile/persistence.go
  services/web/pkg/managers/web/webManager.go
Due: web

[web] normalize field names in clear project cache request body
  services/web/httpController.go
Due: web

[clsi] add POST endpoints for syncTex
  services/clsi/httpController.go
  services/clsi/pkg/types/syncTex.go
Due: clsi

[web] normalize field names in compile request body
  services/web/pkg/types/compileProject.go
Due: web

[web] add endpoints for syncTex
  services/web/httpController.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/compile/syncTex.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/syncTex.go
Due: web

[web] fix static clsi persistence
  services/web/pkg/managers/web/internal/compile/persistence.go
Due: web

[clsi] normalize field names in WordCountRequest
  services/clsi/pkg/types/wordCount.go
Due: clsi

[clsi] add POST endpoint for /wordcount
  services/clsi/httpController.go
Due: clsi

[web] add endpoint for /wordcount
  services/web/httpController.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/compile/wordCount.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/wordCount.go
Due: web

[web] fix docker image name
  services/web/Makefile
Due: web

[web] add timing for content fetching of compile requests
  services/clsi/pkg/types/compile.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
Due: clsi, web

[document-updater] refactor waterfall in GetProjectDocsAndFlushIfOld
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
Due: document-updater

[web] optimize clsi persistence for performance/resilience
  services/web/pkg/managers/web/internal/compile/persistence.go
Due: web

[docstore] block 'creation' of documents with non-zero version
  services/docstore/pkg/managers/docstore/docstoreManager.go
Due: docstore

[document-updater] fail docManager.getDoc when PutDocIntoMemory fails
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
Due: document-updater

[document-updater] minimal cleanup in docManager.getDoc
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
Due: document-updater

[document-updater] refactor inter type conversion to helper function
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
  services/document-updater/pkg/types/doc.go
Due: document-updater

[document-updater] drop references to proprietary project history bits
  services/document-updater/pkg/types/doc.go
Due: document-updater

[web] move project models/manager/types into public pkg/models/project/
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/webManager.go
Due: web

[models/project] manager: implement .UpdateLastUpdated()
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
Due: none

[document-updater] RenameDoc: perform doc-in-redis check under lock
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
Due: document-updater

[web] bump clsi persistence with new context in background
  services/web/pkg/managers/web/internal/compile/persistence.go
Due: web

[models/project] tree: add helpers for walking a subset of leaves
  pkg/models/project/tree.go
Due: none

[models/project] manager: implement .GetDocMeta()
  pkg/models/project/manager.go
  pkg/models/project/tree.go
Due: none

[document-updater] implement a minimal GetDoc/SetDoc compliant manager
  services/document-updater/main.go
  services/document-updater/pkg/managers/documentUpdater/documentUpdaterManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/monolith.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/webApiManager.go
  services/document-updater/pkg/types/options.go
  services/real-time/main.go
  services/real-time/options.go
  services/real-time/pkg/managers/realTime/internal/documentUpdater/documentUpdaterManager.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
  services/web/pkg/managers/web/webManager.go
Due: document-updater, real-time, web

[web] compile: paths are no longer stored absolute in redis
  services/web/pkg/managers/web/internal/compile/compileManager.go
Due: web

[misc] use constants for http status codes
  services/chat/httpController.go
  services/contacts/httpController.go
  services/document-updater/httpController.go
  services/linked-url-proxy/httpController.go
  services/real-time/httpController.go
  services/web/httpController.go
Due: chat, contacts, document-updater, linked-url-proxy, real-time, web

[clsi] drop support for AllowedCompileCroups option
  services/clsi/pkg/types/options.go
  services/clsi/pkg/types/types.go
Due: clsi

[clsi] move check of AllowedImages into agentRunner
  services/clsi/pkg/managers/clsi/internal/commandRunner/agentRunner.go
  services/clsi/pkg/types/types.go
Due: clsi

[clsi] drop back filling of CompileGroups and ImageNames into requests
  services/clsi/pkg/managers/clsi/clsiManager.go
  services/clsi/pkg/types/compile.go
  services/clsi/pkg/types/options.go
  services/clsi/pkg/types/syncTex.go
  services/clsi/pkg/types/wordCount.go
Due: clsi

[clsi] drop options parameter from all the type validation methods
  services/clsi/pkg/managers/clsi/clsiManager.go
  services/clsi/pkg/types/commandRunner.go
  services/clsi/pkg/types/compile.go
  services/clsi/pkg/types/interfaces.go
  services/clsi/pkg/types/syncTex.go
  services/clsi/pkg/types/types.go
  services/clsi/pkg/types/wordCount.go
Due: clsi

[real-time] cleanup httpController
  services/real-time/httpController.go
Due: real-time

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**
