Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

chat:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/chat') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/chat/docker-image.digest.txt'
            }
  ...

clsi:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/clsi') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/clsi/docker-image.digest.txt'
            }
  ...

contacts:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/contacts') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/contacts/docker-image.digest.txt'
  ...

docstore:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/docstore') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/docstore/docker-image.digest.txt'
  ...

document-updater:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/document-updater') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
  ...

filestore:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/filestore') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/filestore/docker-image.digest.txt'
  ...

linked-url-proxy:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/linked-url-proxy') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
  ...

notifications:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/notifications') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
  ...

real-time:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/real-time') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/real-time/docker-image.digest.txt'
  ...

[web] add endpoint for cloning a project
  pkg/models/project/models.go
  pkg/models/project/tree.go
  pkg/models/project/views.go
  pkg/session/sessionData.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
  services/web/pkg/managers/web/internal/projectUpload/zip.go
  services/web/pkg/types/clone.go
Due: web

[web] add endpoint for creating example projects
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/content.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/exampleProjects.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/templates.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/templates/example/frog.jpg
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/templates/example/frog.jpg.license
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/templates/example/main.tex.gohtml
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/templates/example/sample.bib.gohtml
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/templates/none/main.tex.gohtml
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/viewData.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/exampleProject.go
Due: web

[web] CloneProject: flush docs from redis into mongo first
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
  services/web/pkg/managers/web/webManager.go
Due: web

[web] CloneProject: reset doc.Revision counter when copying doc
  services/web/pkg/managers/web/internal/projectUpload/clone.go
Due: web

[docstore] protect against data loss from operating on archive in tx
  pkg/mongoTx/mongoTx.go
  services/docstore/pkg/managers/docstore/docstoreManager.go
  services/docstore/pkg/managers/docstore/internal/docArchive/docArchiveManager.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
Due: docstore, web

[document-updater] protect against data loss from w/d redis access in tx
  services/document-updater/pkg/managers/documentUpdater/documentUpdaterManager.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
Due: document-updater, web

[web] CloneProject: parallelize more operations
  services/web/pkg/managers/web/internal/projectUpload/clone.go
Due: web

[linked-url-proxy] limit the size of the response body to 50 MB
  services/linked-url-proxy/httpController.go
Due: linked-url-proxy

[misc] move text content validation into Snapshot.Validate()
  pkg/sharedTypes/appliedOps.go
  pkg/sharedTypes/text.go
  services/document-updater/pkg/managers/documentUpdater/internal/updateManager/updateManager.go
  services/web/pkg/managers/web/internal/fileTree/isTextFile.go
Due: document-updater, web

[web] CreateFromZip: fix default project name detection
  services/web/pkg/managers/web/internal/projectUpload/rootDoc.go
  services/web/pkg/managers/web/internal/projectUpload/zip.go
  services/web/pkg/types/upload.go
Due: web

[web] CreateFromZip: split zip content handling from project creation
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
  services/web/pkg/managers/web/internal/projectUpload/zip.go
  services/web/pkg/types/internal/conflictChecker/conflictChecker.go
  services/web/pkg/types/upload.go
Due: web

[web] conflictChecker: perf: move recursion behind exists check
  services/web/pkg/types/internal/conflictChecker/conflictChecker.go
Due: web

[web] CreateProject: move logic into a separate file
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/projectUpload/zip.go
Due: web

[linked-url-proxy] fix route spec for /proxy/ prefix
  services/linked-url-proxy/httpController.go
Due: linked-url-proxy

[linked-url-proxy] block redirects by default
  pkg/errors/common.go
  pkg/httpUtils/respond.go
  services/linked-url-proxy/httpController.go
  services/linked-url-proxy/main.go
  services/linked-url-proxy/options.go
Due: linked-url-proxy

[linked-url-proxy] do not stream non successful responses
  services/linked-url-proxy/httpController.go
Due: linked-url-proxy

[web] add a new endpoint for composing new projects aka open-in-overleaf
  pkg/models/project/new.go
  pkg/sharedTypes/url.go
  pkg/sharedTypes/url_test.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/linkedURLProxy/buffer.go
  services/web/pkg/managers/web/internal/linkedURLProxy/chain.go
  services/web/pkg/managers/web/internal/linkedURLProxy/chain_test.go
  services/web/pkg/managers/web/internal/linkedURLProxy/linkedURLProxyManager.go
  services/web/pkg/managers/web/internal/openInOverleaf/documentClass.go
  services/web/pkg/managers/web/internal/openInOverleaf/fromSnippets.go
  services/web/pkg/managers/web/internal/openInOverleaf/fromZip.go
  services/web/pkg/managers/web/internal/openInOverleaf/header.go
  services/web/pkg/managers/web/internal/openInOverleaf/header_test.go
  services/web/pkg/managers/web/internal/openInOverleaf/openInOverleafManager.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
  services/web/pkg/managers/web/internal/projectUpload/rootDoc.go
  services/web/pkg/managers/web/internal/projectUpload/zip.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/openInOverleaf.go
  services/web/pkg/types/options.go
  services/web/pkg/types/upload.go
Due: web

[web] CreateProject: use users preferred spellcheck language
  pkg/models/user/editorConfig.go
  pkg/models/user/views.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
Due: web

[web] add a new endpoint for restoring a deleted doc
  services/web/httpController.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/managers/web/internal/fileTree/restoreDoc.go
  services/web/pkg/types/fileTree.go
Due: web

[web] add new endpoints for creating/refreshing linked files
  pkg/models/project/tree.go
  pkg/objectStorage/backend.go
  pkg/objectStorage/minio.go
  services/clsi/pkg/managers/clsi/internal/outputCache/outputCacheManager.go
  services/clsi/pkg/types/compile.go
  services/docstore/pkg/managers/docstore/internal/docArchive/docArchiveManager.go
  services/filestore/httpController.go
  services/filestore/pkg/managers/filestore/filestoreManager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/compile/headless.go
  services/web/pkg/managers/web/internal/compile/persistence.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
  services/web/pkg/managers/web/internal/linkedFile/linkedFileManager.go
  services/web/pkg/managers/web/internal/linkedFile/projectFile.go
  services/web/pkg/managers/web/internal/linkedFile/projectOutputFile.go
  services/web/pkg/managers/web/internal/linkedFile/url.go
  services/web/pkg/managers/web/internal/linkedURLProxy/buffer.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/compileProject.go
  services/web/pkg/types/linkedFile.go
  services/web/pkg/types/upload.go
Due: clsi, docstore, filestore, web

[pkg/objectStorage] minio: fix streaming of empty files
  pkg/objectStorage/minio.go
Due: none

[model/project] emit file size of null for old files
  pkg/models/project/tree.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
Due: web

[model/project] trim down the size of a serialized LinkedFileData blob
  pkg/models/project/tree.go
Due: none

[web] UploadFile: notify editor about deleted/new files in foreground
  services/web/pkg/managers/web/internal/fileTree/upload.go
Due: web

[web] add new endpoints for downloading projects
  pkg/models/doc/manager.go
  pkg/models/doc/models.go
  pkg/models/project/models.go
  services/docstore/pkg/managers/docstore/docstoreManager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectDownload/multi.go
  services/web/pkg/managers/web/internal/projectDownload/projectDownloadManager.go
  services/web/pkg/managers/web/internal/projectDownload/single.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectDownload.go
Due: docstore, web

[web] add new endpoint for soft-deleting a project
  pkg/models/deletedProject/deleterData.go
  pkg/models/deletedProject/fields.go
  pkg/models/deletedProject/manager.go
  pkg/models/deletedProject/models.go
  pkg/models/project/authorization.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/views.go
  pkg/models/tag/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/removeMember.go
  services/web/pkg/managers/web/internal/editor/transferOwnership.go
  services/web/pkg/managers/web/internal/projectDeletion/projectDeletionManager.go
  services/web/pkg/managers/web/internal/tag/tagManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectDeletion.go
Due: web

[web] add new endpoint for soft-deleting a user
  pkg/models/deletedUser/deleterData.go
  pkg/models/deletedUser/fields.go
  pkg/models/deletedUser/manager.go
  pkg/models/deletedUser/models.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/views.go
  pkg/models/user/fields.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  pkg/models/user/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/login.go
  services/web/pkg/managers/web/internal/projectDeletion/projectDeletionManager.go
  services/web/pkg/managers/web/internal/userDeletion/userDeletionManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/login.go
  services/web/pkg/types/userDeletion.go
Due: web

[web] set up cron entrypoint for hard deleting projects
  pkg/models/deletedFile/manager.go
  pkg/models/deletedProject/deleterData.go
  pkg/models/deletedProject/manager.go
  pkg/models/project/manager.go
  pkg/options/utils/common.go
  services/chat/pkg/managers/chat/chatManager.go
  services/chat/pkg/managers/chat/internal/message/messageManager.go
  services/chat/pkg/managers/chat/internal/thread/threadManager.go
  services/web/main.go
  services/web/options.go
  services/web/pkg/managers/web/internal/projectDeletion/hardDeletion.go
  services/web/pkg/managers/web/internal/projectDeletion/projectDeletionManager.go
  services/web/pkg/managers/web/internal/projectDeletion/softDeletion.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectDeletion.go
Due: chat, web

[web] add new endpoint for undeleting a project
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectDeletion/projectDeletionManager.go
  services/web/pkg/managers/web/internal/projectDeletion/undelete.go
Due: web

[web] set up cron for hard deleting users
  pkg/models/contact/manager.go
  pkg/models/deletedUser/deleterData.go
  pkg/models/deletedUser/manager.go
  pkg/models/notification/manager.go
  pkg/models/tag/manager.go
  services/web/pkg/managers/web/internal/userDeletion/hardDeletion.go
  services/web/pkg/managers/web/internal/userDeletion/softDeletion.go
  services/web/pkg/managers/web/internal/userDeletion/userDeletionManager.go
  services/web/pkg/managers/web/webManager.go
Due: web

[web] set up cron for archiving inactive projects
  pkg/models/project/manager.go
  pkg/models/project/views.go
  services/web/pkg/managers/web/internal/inactiveProject/inactiveProjectManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/options.go
Due: web

[misc] fix request aborting -- gin does not actually implement Context
  pkg/jwt/projectJWT/projectJWT.go
  services/chat/httpController.go
  services/clsi/httpController.go
  services/docstore/httpController.go
  services/document-updater/httpController.go
  services/filestore/httpController.go
  services/linked-url-proxy/httpController.go
  services/real-time/httpController.go
  services/spelling/httpController.go
  services/web/httpController.go
Due: chat, clsi, docstore, document-updater, filestore, linked-url-proxy, real-time, spelling, web

[web] Compile: fromMongo: prepare signed file download URLs
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/webManager.go
Due: web

[web] options: cleanup unused apis.filestore.url
  services/web/pkg/types/options.go
Due: web

[web] add new endpoint for updating the users' editor config
  pkg/models/user/editorConfig.go
  pkg/models/user/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/settings.go
  services/web/pkg/types/projectSettings.go
Due: web

[web] add new endpoints for operating on the project history
  services/track-changes/pkg/types/diff.go
  services/track-changes/pkg/types/restore.go
  services/track-changes/pkg/types/updates.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/history/historyManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/history.go
  services/web/pkg/types/options.go
Due: web

[web] fix typo in filename
  services/web/pkg/managers/web/internal/login/emailSecurityAlert.go
Due: web

[web] add new endpoint for changing the users' email address
  pkg/errors/common.go
  pkg/models/user/emailDetails.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  pkg/models/user/views.go
  pkg/sharedTypes/email.go
  pkg/sharedTypes/email_test.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/changeEmailAddress.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/types/login.go
Due: web

[web] add new endpoint for changing the users' name
  pkg/models/user/manager.go
  pkg/models/user/models.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/internal/login/name.go
  services/web/pkg/types/login.go
Due: web

[spelling] prepare for splitting the service apart
  pkg/models/learnedWords/fields.go
  pkg/models/learnedWords/manager.go
  services/spelling/pkg/managers/spelling/internal/aspell/aspellManager.go
  services/spelling/pkg/managers/spelling/spellingManager.go
Due: spelling

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**
