Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**

[web] add new endpoint for changing the users' password
  pkg/models/user/manager.go
  pkg/models/user/models.go
  pkg/models/user/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/changePassword.go
  services/web/pkg/managers/web/internal/login/hash.go
  services/web/pkg/managers/web/internal/login/login.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/types/changePassword.go
  services/web/pkg/types/login.go
  services/web/pkg/types/options.go
Due: web

[pkg/session] fix usage of gin.Context as context.Context
  pkg/session/manager.go
Due: none

[misc] ignore false positive spelling errors
  pkg/email/pkg/spamSafe/spamSafe_test.go
  pkg/httpUtils/upload.go
  pkg/models/project/tokens.go
  pkg/models/user/editorConfig.go
  pkg/sharedTypes/paths.go
  services/web/pkg/managers/web/internal/fileTree/isTextFile.go
  services/web/pkg/managers/web/internal/openInOverleaf/documentClass.go
  services/web/pkg/types/openInOverleaf.go
Due: web

[web] add new endpoints for resetting the users' password
  pkg/models/oneTimeToken/fields.go
  pkg/models/oneTimeToken/manager.go
  pkg/models/oneTimeToken/models.go
  pkg/models/oneTimeToken/oneTimeToken.go
  pkg/models/oneTimeToken/passwordResetData.go
  pkg/models/oneTimeToken/views.go
  pkg/models/user/emailDetails.go
  pkg/models/user/manager.go
  pkg/mongoTx/mongoTx.go
  pkg/session/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/changePassword.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/changePassword.go
Due: web

[web] add new endpoints for confirming the users' email
  pkg/models/oneTimeToken/emailConfirmationData.go
  pkg/models/oneTimeToken/fields.go
  pkg/models/oneTimeToken/manager.go
  pkg/models/oneTimeToken/views.go
  pkg/models/user/manager.go
  pkg/models/user/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/confirmEmail.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/types/confirmEmail.go
Due: web

[web] add new endpoint for reconfirming a users' account aka pw reset
  services/web/httpController.go
Due: web

[misc] stronger type safety for passing URLs around
  pkg/email/cta.go
  pkg/email/noCTA.go
  pkg/email/pkg/gmailGoToAction/gmailGoToAction.go
  pkg/sharedTypes/url.go
  pkg/sharedTypes/url_test.go
  services/web/pkg/managers/web/internal/editor/transferOwnership.go
  services/web/pkg/managers/web/internal/history/historyManager.go
  services/web/pkg/managers/web/internal/linkedFile/projectOutputFile.go
  services/web/pkg/managers/web/internal/linkedURLProxy/chain.go
  services/web/pkg/managers/web/internal/login/confirmEmail.go
  services/web/pkg/managers/web/internal/login/emailSecurityAlert.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/managers/web/internal/projectInvite/details.go
Due: web

[web] add new endpoints for creating new users
  pkg/email/cta.go
  pkg/email/internal/templates/ctaBody.gohtml
  pkg/email/internal/templates/noCTABody.gohtml
  pkg/email/noCTA.go
  pkg/models/deletedUser/deleterData.go
  pkg/models/oneTimeToken/manager.go
  pkg/models/user/editorConfig.go
  pkg/models/user/fields.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  pkg/models/user/new.go
  pkg/session/session.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/changePassword.go
  services/web/pkg/managers/web/internal/login/hash.go
  services/web/pkg/managers/web/internal/userCreation/adminCreateUser.go
  services/web/pkg/managers/web/internal/userCreation/createUser.go
  services/web/pkg/managers/web/internal/userCreation/registerUser.go
  services/web/pkg/managers/web/internal/userCreation/sendActivateEmail.go
  services/web/pkg/managers/web/internal/userCreation/userCreationManager.go
  services/web/pkg/managers/web/internal/userCreation/welcomeEmail.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/userCreation.go
Due: web

[web] initialize auditLog for new users
  pkg/models/user/new.go
Due: none

[web] add TODO for better handling of existing users on /register
  services/web/pkg/managers/web/internal/userCreation/registerUser.go
Due: web

[userAdmin] create cli util as substitute for /launchpad/register_admin
  cmd/userAdmin/main.go
Due: none

[emailTest] create cli util as substitute for /launchpad/send_test_email
  cmd/emailTest/main.go
  services/web/options.go
  services/web/pkg/types/options.go
Due: web

[web] add endpoints for managing editor review feature
  pkg/models/doc/models.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/trackChangesState.go
  pkg/models/project/views.go
  services/chat/pkg/managers/chat/chatManager.go
  services/chat/pkg/managers/chat/internal/message/messageManager.go
  services/chat/pkg/types/types.go
  services/docstore/httpController.go
  services/document-updater/pkg/managers/documentUpdater/documentUpdaterManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/redisManager/redisManager.go
  services/document-updater/pkg/types/doc.go
  services/document-updater/pkg/types/doc_test.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/chat.go
  services/web/pkg/managers/web/internal/review/comment.go
  services/web/pkg/managers/web/internal/review/reviewManager.go
  services/web/pkg/managers/web/internal/review/trackChanges.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectChat.go
  services/web/pkg/types/review.go
Due: chat, docstore, document-updater, web

[chat] fix sorting of review comments
  services/chat/pkg/managers/chat/internal/message/messageManager.go
Due: chat

[web] omit SourceProjectId for linked files with url provider
  services/web/pkg/types/linkedFile.go
Due: web

[model/project] LinkedFileData: revert strong typing of URL
  pkg/models/project/tree.go
  services/web/pkg/managers/web/internal/linkedFile/url.go
  services/web/pkg/types/linkedFile.go
Due: web

[systemMessage] create cli util as substitute for /admin/messages routes
  cmd/internal/utils/mongo.go
  cmd/internal/utils/redis.go
  cmd/systemMessage/main.go
  cmd/userAdmin/main.go
  pkg/models/systemMessage/manager.go
Due: none

[pubSub/channel] stricter parsing of ObjectID from channel
  pkg/pubSub/channel/channelManager.go
Due: none

[pubSub/channel] listen on explicit all-zero base channel
  pkg/pubSub/channel/channelManager.go
Due: none

[disconnectAllUsers] add cli as substitute for /admin/disconnectAllUsers
  cmd/disconnectAllUsers/main.go
Due: none

[unregisterServiceWorker] cli substitute /admin/unregisterServiceWorker
  cmd/unregisterServiceWorker/main.go
  services/real-time/pkg/managers/realTime/internal/editorEvents/pubSub.go
Due: real-time

[httpUtils/noCache] step up from no-cache to no-store
  pkg/httpUtils/noCache.go
Due: none

[web] Login: add custom hints to failure responses
  pkg/asyncForm/asyncForm.go
  pkg/errors/common.go
  pkg/httpUtils/respond.go
  services/web/pkg/managers/web/internal/login/login.go
Due: web

[web] SetPassword: add custom hints to failure responses
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/types/changePassword.go
Due: web

[web] WIP: HTML templates
  services/web/pkg/templates/content.go
  services/web/pkg/templates/internal/translations/locales/en.json
  services/web/pkg/templates/internal/translations/translations.go
  services/web/pkg/templates/internal/translations/translations_test.go
  services/web/pkg/templates/templates.go
  services/web/pkg/templates/templates/general/400.gohtml
  services/web/pkg/templates/templates/general/404.gohtml
  services/web/pkg/templates/templates/general/500.gohtml
  services/web/pkg/templates/templates/general/unsupported-browser.gohtml
  services/web/pkg/templates/templates/layout-marketing.gohtml
  services/web/pkg/templates/templates/layout-no-js.gohtml
  services/web/pkg/templates/templates/user/confirmEmail.gohtml
  services/web/pkg/templates/templates/user/login.gohtml
  services/web/pkg/templates/templates/user/logout.gohtml
  services/web/pkg/templates/templates/user/reconfirm.gohtml
  services/web/pkg/templates/templates/user/registerDisabled.gohtml
  services/web/pkg/templates/templates/user/restricted.gohtml
  services/web/pkg/templates/templates/user/sessions.gohtml
  services/web/pkg/templates/templates/user/setPassword.gohtml
  services/web/pkg/templates/templates/user/settings.gohtml
Due: web

[web] WIP: HTML templates
  pkg/translations/cmd/import/main.go
  pkg/translations/locales/en.json
  pkg/translations/locales/en.json.notice
  pkg/translations/translations.go
  pkg/translations/translations_test.go
  services/web/pkg/templates/content.go
  services/web/pkg/templates/internal/assets/assets.go
  services/web/pkg/templates/internal/translations/locales/en.json
  services/web/pkg/templates/internal/translations/translations.go
  services/web/pkg/templates/internal/translations/translations_test.go
  services/web/pkg/templates/templates.go
  services/web/pkg/templates/templates/general/400.gohtml
  services/web/pkg/templates/templates/general/404.gohtml
  services/web/pkg/templates/templates/layout-marketing.gohtml
  services/web/pkg/templates/templates/layout-no-js.gohtml
  services/web/pkg/templates/templates/user/confirmEmail.gohtml
  services/web/pkg/templates/templates/user/login.gohtml
  services/web/pkg/templates/templates/user/logout.gohtml
  services/web/pkg/templates/templates/user/reconfirm.gohtml
  services/web/pkg/templates/templates/user/registerDisabled.gohtml
  services/web/pkg/templates/templates/user/restricted.gohtml
  services/web/pkg/templates/templates/user/sessions.gohtml
  services/web/pkg/templates/templates/user/setPassword.gohtml
  services/web/pkg/templates/templates/user/settings.gohtml
  services/web/pkg/types/options.go
Due: web

[web] WIP: HTML templates
  services/web/pkg/templates/internal/assets/assets.go
Due: web

[web] WIP: HTML templates
  pkg/models/user/models.go
  pkg/models/user/views.go
  services/web/pkg/templates/content.go
  services/web/pkg/templates/general.go
  services/web/pkg/templates/templates/betaProgram/optIn.gohtml
  services/web/pkg/templates/templates/general/closed.gohtml
  services/web/pkg/templates/templates/layout-angular.gohtml
  services/web/pkg/templates/templates/user/confirmEmail.gohtml
  services/web/pkg/templates/templates/user/reconfirm.gohtml
  services/web/pkg/templates/templates/user/sessions.gohtml
  services/web/pkg/templates/templates/user/settings.gohtml
  services/web/pkg/templates/user.go
  services/web/pkg/types/options.go
Due: web

[web] WIP: HTML templates
  pkg/httpUtils/jwt.go
  pkg/httpUtils/respond.go
  pkg/httpUtils/router.go
  pkg/httpUtils/timing.go
  pkg/session/manager.go
  pkg/translations/cmd/import/main.go
  pkg/translations/locales/en.json
  services/web/httpController.go
  services/web/main.go
  services/web/pkg/managers/web/internal/login/login.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/internal/login/logout.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/templates/betaProgram.go
  services/web/pkg/templates/general.go
  services/web/pkg/templates/publicSettings.go
  services/web/pkg/templates/respondHTML.go
  services/web/pkg/templates/templates.go
  services/web/pkg/templates/user.go
  services/web/pkg/types/betaProgram.go
  services/web/pkg/types/login.go
Due: web

[web] WIP: HTML templates
  pkg/errors/common.go
  pkg/session/session.go
  pkg/session/sessionData.go
  pkg/translations/locales/en.json
  services/web/httpController.go
  services/web/pkg/managers/web/internal/admin/adminManager.go
  services/web/pkg/managers/web/internal/admin/manageSite.go
  services/web/pkg/managers/web/internal/login/clearSessions.go
  services/web/pkg/managers/web/internal/login/confirmEmail.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/internal/login/reconfirm.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/managers/web/internal/login/settings.go
  services/web/pkg/managers/web/internal/tokenAccess/tokenAccessManager.go
  services/web/pkg/managers/web/internal/userCreation/adminCreateUser.go
  services/web/pkg/managers/web/internal/userCreation/registerUser.go
  services/web/pkg/managers/web/internal/userCreation/userCreationManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/templates/admin.go
  services/web/pkg/templates/admin/manageSite.gohtml
  services/web/pkg/templates/admin/registerUsers.gohtml
  services/web/pkg/templates/layout/layout-angular.gohtml
  services/web/pkg/templates/project.go
  services/web/pkg/templates/project/tokenAccess.gohtml
  services/web/pkg/templates/publicSettings.go
  services/web/pkg/templates/templates.go
  services/web/pkg/templates/user.go
  services/web/pkg/templates/user/passwordReset.gohtml
  services/web/pkg/templates/user/register.gohtml
  services/web/pkg/templates/user/registerDisabled.gohtml
  services/web/pkg/templates/user/sessions.gohtml
  services/web/pkg/templates/user/settings.gohtml
  services/web/pkg/types/admin.go
  services/web/pkg/types/betaProgram.go
  services/web/pkg/types/changePassword.go
  services/web/pkg/types/confirmEmail.go
  services/web/pkg/types/login.go
  services/web/pkg/types/options.go
  services/web/pkg/types/userCreation.go
Due: web

[web] WIP: HTML templates
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/templates/general.go
  services/web/pkg/types/options.go
Due: web

[web] WIP: HTML templates
  pkg/translations/locales/en.json
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/templates/user.go
  services/web/pkg/types/changePassword.go
Due: web

[web] WIP: HTML templates
  pkg/httpUtils/redirect.go
  pkg/models/user/models.go
  pkg/models/user/views.go
  pkg/translations/cmd/import/main.go
  pkg/translations/locales/en.json
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/activate.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/internal/userCreation/registerUser.go
  services/web/pkg/templates/general/400.gohtml
  services/web/pkg/templates/respondHTML.go
  services/web/pkg/templates/user.go
  services/web/pkg/templates/user/activate.gohtml
  services/web/pkg/templates/user/register.gohtml
  services/web/pkg/types/changePassword.go
Due: web

[web] WIP: HTML templates
  pkg/translations/locales/en.json
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/login.go
  services/web/pkg/managers/web/internal/openInOverleaf/openInOverleafManager.go
  services/web/pkg/managers/web/internal/openInOverleaf/pages.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/templates/betaProgram/participate.gohtml
  services/web/pkg/templates/content.go
  services/web/pkg/templates/general/400.gohtml
  services/web/pkg/templates/general/404.gohtml
  services/web/pkg/templates/general/500.gohtml
  services/web/pkg/templates/general/closed.gohtml
  services/web/pkg/templates/general/unsupported-browser.gohtml
  services/web/pkg/templates/layout/head.gohtml
  services/web/pkg/templates/layout/layout-angular.gohtml
  services/web/pkg/templates/layout/layout-marketing.gohtml
  services/web/pkg/templates/layout/layout-no-js.gohtml
  services/web/pkg/templates/openInOverleaf.go
  services/web/pkg/templates/openInOverleaf/documentation.gohtml
  services/web/pkg/templates/openInOverleaf/gateway.gohtml
  services/web/pkg/templates/project/tokenAccess.gohtml
  services/web/pkg/templates/user/activate.gohtml
  services/web/pkg/templates/user/confirmEmail.gohtml
  services/web/pkg/templates/user/login.gohtml
  services/web/pkg/templates/user/logout.gohtml
  services/web/pkg/templates/user/passwordReset.gohtml
  services/web/pkg/templates/user/reconfirm.gohtml
  services/web/pkg/templates/user/register.gohtml
  services/web/pkg/templates/user/restricted.gohtml
  services/web/pkg/templates/user/sessions.gohtml
  services/web/pkg/templates/user/setPassword.gohtml
  services/web/pkg/templates/user/settings.gohtml
  services/web/pkg/types/login.go
  services/web/pkg/types/openInOverleaf.go
Due: web

[web] WIP: HTML templates
  pkg/models/projectInvite/views.go
  pkg/translations/locales/en.json
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/internal/projectInvite/view.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/templates/project.go
  services/web/pkg/templates/project/viewInvite.gohtml
  services/web/pkg/templates/respondHTML.go
  services/web/pkg/types/projectInvite.go
Due: web

[web] WIP: HTML templates
  pkg/translations/cmd/import/main.go
  pkg/translations/locales/en.json
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/templates/project.go
  services/web/pkg/templates/project/list.gohtml
  services/web/pkg/templates/publicSettings.go
  services/web/pkg/types/options.go
  services/web/pkg/types/projectList.go
Due: web

[web] WIP: HTML templates
  pkg/models/user/editorConfig.go
  pkg/sharedTypes/paths.go
  pkg/sharedTypes/text.go
  pkg/translations/cmd/import/main.go
  pkg/translations/locales/en.json
  services/docstore/pkg/managers/docstore/docstoreManager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/betaProgram/betaProgramManager.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/fileTree/isTextFile.go
  services/web/pkg/managers/web/internal/openInOverleaf/documentClass.go
  services/web/pkg/managers/web/internal/openInOverleaf/header.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/templates/betaProgram.go
  services/web/pkg/templates/content.go
  services/web/pkg/templates/layout/head.gohtml
  services/web/pkg/templates/project.go
  services/web/pkg/templates/project/editor.gohtml
  services/web/pkg/templates/publicSettings.go
  services/web/pkg/types/loadEditor.go
  services/web/pkg/types/options.go
Due: docstore, web

[web] WIP: HTML templates
  pkg/httpUtils/idValidation.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/admin/manageSite.go
  services/web/pkg/managers/web/internal/betaProgram/betaProgramManager.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/login/activate.go
  services/web/pkg/managers/web/internal/login/clearSessions.go
  services/web/pkg/managers/web/internal/login/confirmEmail.go
  services/web/pkg/managers/web/internal/login/login.go
  services/web/pkg/managers/web/internal/login/logout.go
  services/web/pkg/managers/web/internal/login/reconfirm.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/managers/web/internal/login/settings.go
  services/web/pkg/managers/web/internal/openInOverleaf/pages.go
  services/web/pkg/managers/web/internal/projectInvite/view.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/tokenAccess/tokenAccessManager.go
  services/web/pkg/managers/web/internal/userCreation/adminCreateUser.go
  services/web/pkg/managers/web/internal/userCreation/registerUser.go
  services/web/pkg/templates/content.go
  services/web/pkg/templates/respondHTML.go
Due: web

[web] WIP: HTML templates
  services/web/httpController.go
  services/web/pkg/managers/web/internal/learn/learnManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/templates/admin/manageSite.gohtml
  services/web/pkg/templates/admin/registerUsers.gohtml
  services/web/pkg/templates/betaProgram/participate.gohtml
  services/web/pkg/templates/general/400.gohtml
  services/web/pkg/templates/general/404.gohtml
  services/web/pkg/templates/general/500.gohtml
  services/web/pkg/templates/general/closed.gohtml
  services/web/pkg/templates/general/unsupported-browser.gohtml
  services/web/pkg/templates/layout/head.gohtml
  services/web/pkg/templates/layout/layout-angular.gohtml
  services/web/pkg/templates/layout/layout-marketing.gohtml
  services/web/pkg/templates/learn.go
  services/web/pkg/templates/learn/page.gohtml
  services/web/pkg/templates/project/tokenAccess.gohtml
  services/web/pkg/templates/publicSettings.go
  services/web/pkg/templates/user/activate.gohtml
  services/web/pkg/templates/user/confirmEmail.gohtml
  services/web/pkg/templates/user/login.gohtml
  services/web/pkg/templates/user/logout.gohtml
  services/web/pkg/templates/user/passwordReset.gohtml
  services/web/pkg/templates/user/reconfirm.gohtml
  services/web/pkg/templates/user/register.gohtml
  services/web/pkg/templates/user/sessions.gohtml
  services/web/pkg/templates/user/setPassword.gohtml
  services/web/pkg/templates/user/settings.gohtml
  services/web/pkg/types/learn.go
Due: web
