Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**

[real-time] add a timeout to each rpc call
  services/real-time/httpController.go
Due: real-time

[web] trim down use of mongo transactions, add retries for version errs
  pkg/models/project/manager.go
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
  services/web/pkg/managers/web/internal/fileTree/addFolder.go
  services/web/pkg/managers/web/internal/fileTree/renameDoc.go
  services/web/pkg/managers/web/internal/fileTree/renameFile.go
  services/web/pkg/managers/web/internal/fileTree/renameFolder.go
  services/web/pkg/managers/web/internal/fileTree/retries.go
Due: web

[web] addFolder: the socket.io callback does not use the userId param
  services/web/pkg/managers/web/internal/fileTree/addFolder.go
Due: web

[web] addDoc: the socket.io callback does not use userId/source param
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
Due: web

[web] fileTree: drop userId from add/rename request, jwt handles auth
  pkg/models/project/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
  services/web/pkg/managers/web/internal/fileTree/addFolder.go
  services/web/pkg/managers/web/internal/fileTree/renameDoc.go
  services/web/pkg/managers/web/internal/fileTree/renameFile.go
  services/web/pkg/managers/web/internal/fileTree/renameFolder.go
  services/web/pkg/types/addDoc.go
  services/web/pkg/types/addFolder.go
  services/web/pkg/types/renameDoc.go
  services/web/pkg/types/renameFile.go
  services/web/pkg/types/renameFolder.go
Due: web

[document-updater] ProcessProjectUpdates: keep project state as is
  services/document-updater/pkg/managers/documentUpdater/documentUpdaterManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
Due: document-updater

[web] GetProjectFile: use targeted tree walk method
  services/web/pkg/managers/web/internal/editor/file.go
Due: web

[misc] add and use sharedTypes.Dirname.JoinDir()
  pkg/models/project/tree.go
  pkg/sharedTypes/paths.go
Due: none

[model/project] Folder.WalkFilesMongo: fix mongo path
  pkg/models/project/tree.go
Due: none

[web] refactor common logic of rename doc/file/folder into shared fn
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  services/web/pkg/managers/web/internal/fileTree/rename.go
  services/web/pkg/managers/web/internal/fileTree/renameDoc.go
  services/web/pkg/managers/web/internal/fileTree/renameFile.go
  services/web/pkg/managers/web/internal/fileTree/renameFolder.go
Due: web

[misc] add and use sharedTypes.Dirname.JoinPath()
  pkg/sharedTypes/paths.go
  services/web/pkg/managers/web/internal/fileTree/renameFolder.go
Due: web

[web] fileTree: emit project version as last param for socket.io events
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
  services/web/pkg/managers/web/internal/fileTree/addFolder.go
  services/web/pkg/managers/web/internal/fileTree/renameDoc.go
  services/web/pkg/managers/web/internal/fileTree/renameFile.go
  services/web/pkg/managers/web/internal/fileTree/renameFolder.go
Due: web

[web] Compile: accept syncState in request, do not track it in redis
  pkg/models/project/models.go
  services/document-updater/httpController.go
  services/document-updater/pkg/managers/documentUpdater/documentUpdaterManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/redisManager/redisManager.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/projectMetadata/cache.go
  services/web/pkg/types/compileProject.go
Due: document-updater, web

[web] RenameFileInProject: do not notify documentUpdater about it
  services/web/pkg/managers/web/internal/fileTree/renameFile.go
Due: web

[web] RenameFolderInProject: notify documentUpdater when necessary
  services/web/pkg/managers/web/internal/fileTree/renameFolder.go
Due: web

[web] add endpoints for moving docs/files/folders
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
  services/web/pkg/managers/web/internal/fileTree/addFolder.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/managers/web/internal/fileTree/move.go
  services/web/pkg/managers/web/internal/fileTree/moveDoc.go
  services/web/pkg/managers/web/internal/fileTree/moveFile.go
  services/web/pkg/managers/web/internal/fileTree/moveFolder.go
  services/web/pkg/types/moveDoc.go
  services/web/pkg/types/moveFile.go
  services/web/pkg/types/moveFolder.go
Due: web

[docstore] PatchDoc: stop automatic archiving
  services/docstore/pkg/managers/docstore/docstoreManager.go
Due: docstore

[real-time] joinProject: emit deleted docs
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/real-time/pkg/types/joinProject.go
  services/real-time/pkg/types/options.go
Due: real-time

[web] add endpoints for deleting docs/files/folders
  pkg/models/deletedFile/fields.go
  pkg/models/deletedFile/manager.go
  pkg/models/deletedFile/models.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/fileTree/deleteDoc.go
  services/web/pkg/managers/web/internal/fileTree/deleteFile.go
  services/web/pkg/managers/web/internal/fileTree/deleteFolder.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/types/deleteDoc.go
  services/web/pkg/types/deleteFile.go
  services/web/pkg/types/deleteFolder.go
Due: web

[clsi] fix typo in error message
  services/clsi/pkg/managers/clsi/internal/project/project.go
Due: clsi

[web] add endpoint for renaming a project
  pkg/models/project/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/projectList/renameProject.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/renameProject.go
Due: web

[web] add endpoint for accepting a project invitation
  pkg/jwt/projectJWT/projectJWT.go
  pkg/models/project/authorization.go
  pkg/models/project/manager.go
  pkg/models/projectInvite/fields.go
  pkg/models/projectInvite/manager.go
  pkg/models/projectInvite/models.go
  pkg/models/projectInvite/token.go
  pkg/models/projectInvite/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectInvite/accept.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectInvite.go
Due: web

[web] add endpoint for listing project invites
  pkg/models/projectInvite/fields.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectInvite/list.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
Due: web

[web] add endpoint for revoking a project invitation
  pkg/models/project/manager.go
  pkg/models/projectInvite/manager.go
  pkg/models/projectInvite/models.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectInvite/accept.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/internal/projectInvite/revoke.go
  services/web/pkg/types/projectInvite.go
Due: web

[web] add endpoint for removing a project member
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/removeMember.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectMember.go
Due: web

[web] add endpoint for listing project members
  pkg/models/project/authorization.go
  pkg/models/project/manager.go
  pkg/models/project/views.go
  pkg/models/projectInvite/fields.go
  pkg/models/user/backFilling.go
  pkg/models/user/manager.go
  pkg/sharedTypes/privilegeLevel.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/types/client.go
  services/real-time/pkg/types/joinProject.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/listMembers.go
  services/web/pkg/types/loadEditor.go
  services/web/pkg/types/projectList.go
  services/web/pkg/types/projectMember.go
Due: real-time, web

[web] add endpoint for changing the privilege level of a project member
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/setMemberPrivilegeLevel.go
  services/web/pkg/types/projectMember.go
Due: web

[web] merge all the trivial types of file tree operations
  services/web/pkg/types/addDoc.go
  services/web/pkg/types/addFolder.go
  services/web/pkg/types/deleteDoc.go
  services/web/pkg/types/deleteFile.go
  services/web/pkg/types/deleteFolder.go
  services/web/pkg/types/fileTree.go
  services/web/pkg/types/moveDoc.go
  services/web/pkg/types/moveFile.go
  services/web/pkg/types/moveFolder.go
  services/web/pkg/types/renameDoc.go
  services/web/pkg/types/renameFile.go
  services/web/pkg/types/renameFolder.go
Due: web

[web] add endpoint for leaving a project as member/token user
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/removeMember.go
  services/web/pkg/types/projectMember.go
Due: web

[web] fix discoverability of downstream managers
  services/web/pkg/managers/web/webManager.go
Due: web

[pkg/model] use NotFoundError instead of ErrorDocNotFound in most cases
  pkg/models/project/manager.go
  pkg/models/systemMessage/manager.go
  pkg/models/tag/manager.go
  pkg/models/user/manager.go
Due: none

[web] add endpoint for resending a project invitation
  pkg/email/content.go
  pkg/email/cta.go
  pkg/email/email.go
  pkg/email/identity.go
  pkg/email/internal/templates/base.gohtml
  pkg/email/internal/templates/ctaBody.gohtml
  pkg/email/internal/templates/noCTABody.gohtml
  pkg/email/internal/templates/templates.go
  pkg/email/noCTA.go
  pkg/email/pkg/gmailGoToAction/gmailGoToAction.go
  pkg/email/pkg/spamSafe/spamSafe.go
  pkg/email/send.go
  pkg/models/project/models.go
  pkg/models/project/views.go
  pkg/models/projectInvite/manager.go
  pkg/models/projectInvite/views.go
  pkg/models/user/name.go
  pkg/models/user/views.go
  pkg/sharedTypes/email_test.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectInvite/accept.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/internal/projectInvite/resend.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/options.go
  services/web/pkg/types/projectInvite.go
Due: web

[web] grant collaborators and readAndWrite token users access on members
  services/web/httpController.go
Due: web

[real-time] joinProject: fetch project invites
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/real-time/pkg/types/joinProject.go
Due: real-time

[web] add endpoint for creating a project invitation
  pkg/models/project/models.go
  pkg/models/project/views.go
  pkg/models/projectInvite/manager.go
  pkg/sharedTypes/privilegeLevel.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectInvite/create.go
  services/web/pkg/managers/web/internal/projectInvite/details.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/internal/projectInvite/resend.go
  services/web/pkg/types/projectInvite.go
Due: web

[pkg/email] trim equal signs from random part of message id
  pkg/email/send.go
Due: none

[pkg/email] drop unused FirstName field from Identity
  pkg/email/identity.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
Due: web

[model/project] guard all writes on user membership fields with epoch
  pkg/models/project/authorization.go
  pkg/models/project/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/removeMember.go
  services/web/pkg/managers/web/internal/tokenAccess/tokenAccessManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectMember.go
Due: web

[web] add endpoint for transferring project ownership
  pkg/errors/common.go
  pkg/models/project/auditLog.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/transferOwnership.go
  services/web/pkg/types/options.go
  services/web/pkg/types/projectMember.go
Due: web

[spelling] aspell: drop de-1901, add es, add pt-pt
  services/spelling/install_deps.sh
Due: spelling
