Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**

[web] stop storing generic jwt claims in request context
  pkg/httpUtils/jwt.go
Due: none

[web] simplify extension point for jwt validation/post-processing
  pkg/httpUtils/jwt.go
  pkg/jwt/epochJWT/epochJWT.go
  pkg/jwt/projectJWT/projectJWT.go
  pkg/jwt/userIdJWT/userIdJWT.go
Due: none

[web] add validation for projectId in path vs projectId in jwt
  pkg/httpUtils/jwt.go
  pkg/jwt/projectJWT/projectJWT.go
Due: none

[models/project] refactor AuthorizationDetails.IsRestrictedUser into fn
  pkg/models/project/authorization.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
Due: real-time, web

[real-time] populate an empty .invites array in the joinProject response
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/types/joinProject.go
Due: real-time

[web] editor: preserve git history ahead of refactoring
  services/web/pkg/managers/web/internal/editor/loadEditor.go
Due: web

[web] editor: split logic into interface/type and per method files
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/getProjectJWT.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
Due: web

[model/user] add helper for getting user details for back filling
  pkg/models/user/backFilling.go
  pkg/models/user/manager.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
Due: web

[web] add jwt endpoint for getting project messages
  pkg/models/user/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/chat.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectChat.go
Due: web

[web] add jwt endpoint for sending project messages
  pkg/models/user/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/chat.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/projectMetadata/projectMetadataManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectChat.go
Due: web

[web] implement user epoch bump on logout and fetching of live epoch
  pkg/jwt/epochJWT/epochJWT.go
  pkg/jwt/projectJWT/projectJWT.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  pkg/models/user/views.go
  services/web/pkg/managers/web/internal/editor/getProjectJWT.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/loadEditor.go
Due: web

[spelling] fix http method on /learn and /unlearn -- should be POST
  services/spelling/httpController.go
Due: spelling

[web] add public api endpoint for getting a LoggedInUserJWT
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/login.go
Due: web

[web] add helper functions to Session for checking for a logged-in user
  pkg/session/session.go
  services/web/pkg/managers/web/internal/login/loginManager.go
Due: web

[web] add public api endpoints for opt-in/opt-out of beta program
  pkg/models/user/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/betaProgram/betaProgramManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/betaProgram.go
Due: web

[web] add public api endpoint for getting a users projects
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/types/userProjects.go
Due: web

[web] add public api endpoint for getting a projects entities
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  pkg/models/project/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/managers/web/internal/fileTree/projectEntities.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectEntities.go
Due: web

[web] add endpoint for granting project access via ro/rw token
  pkg/models/project/authorization.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tokens.go
  pkg/models/project/views.go
  pkg/session/sessionData.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/getProjectJWT.go
  services/web/pkg/managers/web/internal/tokenAccess/tokenAccessManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/tokenAccess.go
Due: web

[misc] address potential misspellings as flagged by GoLand
  pkg/asyncForm/asyncForm.go
  pkg/models/systemMessage/manager.go
  pkg/models/user/fields.go
  pkg/session/sessionData.go
  services/real-time/pkg/managers/realTime/internal/broadcaster/broadcaster.go
  services/web/pkg/managers/web/internal/projectMetadata/data/packageMapping.json
  services/web/pkg/managers/web/internal/projectMetadata/packageMapping.go
Due: real-time, web

[web] trim public interface of systemMessage.Manager
  services/web/pkg/managers/web/internal/systemMessage/systemMessageManager.go
Due: web

[web] add endpoints for managing tags
  pkg/models/tag/manager.go
  pkg/models/tag/models.go
  pkg/models/tag/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/tag/tagManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/tags.go
Due: web

[contacts] rename public interface/constructor to Manager/New
  services/contacts/httpController.go
  services/contacts/main.go
  services/contacts/pkg/managers/contacts/contactManager.go
Due: contacts

[web] add endpoint for getting user contacts
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/contacts.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/contacts.go
Due: web

[web] implement validation for emails
  pkg/sharedTypes/email.go
Due: none

[web] tag errors in login process
  services/web/pkg/managers/web/internal/login/loginManager.go
Due: web

[web] skip over non-existing users when post-processing user contacts
  services/web/pkg/managers/web/internal/editor/contacts.go
Due: web

[web] add endpoints for (un-)archiving/(un-)trashing projects
  pkg/models/project/authorization.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectList/archive.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/projectList/trash.go
  services/web/pkg/types/archiveProject.go
  services/web/pkg/types/trashProject.go
Due: web

[web] add endpoints for getting a project file (size)
  pkg/models/project/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/file.go
  services/web/pkg/managers/web/internal/fileTree/projectEntities.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/options.go
  services/web/pkg/types/projectFile.go
Due: web

[misc] handle object size from objectStorage.Backend.GetReadStream
  pkg/objectStorage/backend.go
  pkg/objectStorage/minio.go
  services/docstore/pkg/managers/docstore/internal/docArchive/docArchiveManager.go
  services/filestore/httpController.go
  services/filestore/pkg/managers/filestore/filestoreManager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/file.go
  services/web/pkg/types/projectFile.go
Due: docstore, filestore, web

[model/project] fix field name for FileRef.LinkedFileData
  pkg/models/project/tree.go
Due: none

[document-updater] types.RenameFileUpdate does not have an url field
  services/document-updater/pkg/types/projectHistory.go
Due: document-updater

[web] projectMetadata: skip code path for checking project sync state
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
  services/web/pkg/managers/web/internal/projectMetadata/cache.go
Due: document-updater, web

[web] add endpoint for getting a new WSBootstrap payload
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/types/getWSBootstrap.go
Due: web

[docstore] add public method for creating a doc
  services/docstore/pkg/managers/docstore/docstoreManager.go
Due: docstore

[model/project] fix _id filter for mongo:4.4
  pkg/models/project/manager.go
Due: none

[document-updater] move PathName field into coreProjectUpdater struct
  services/document-updater/pkg/types/projectHistory.go
Due: document-updater

[web] add endpoint for creating a new doc
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  pkg/mongoTx/mongoTx.go
  pkg/sharedTypes/paths.go
  services/document-updater/pkg/types/projectHistory.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/addDoc.go
Due: document-updater, web

[web] addDoc: rename folderId to parentFolderId, helper for creating doc
  pkg/models/project/tree.go
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
  services/web/pkg/types/addDoc.go
Due: web

[web] add endpoint for creating a new folder
  pkg/models/project/tree.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/fileTree/addFolder.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/types/addFolder.go
Due: web

[web] add endpoints for renaming docs/files/folders
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  pkg/sharedTypes/paths.go
  services/document-updater/pkg/types/projectHistory.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/fileTree/addFolder.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/managers/web/internal/fileTree/projectEntities.go
  services/web/pkg/managers/web/internal/fileTree/renameDoc.go
  services/web/pkg/managers/web/internal/fileTree/renameFile.go
  services/web/pkg/managers/web/internal/fileTree/renameFolder.go
  services/web/pkg/types/renameDoc.go
  services/web/pkg/types/renameFile.go
  services/web/pkg/types/renameFolder.go
Due: document-updater, web
