Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**

[web] perf: LoadEditor: mark project as opened in the background
  services/web/pkg/managers/web/internal/editor/editorManager.go
Due: web

[jwt/epochJWT] back-fill valid epochs from mongo into redis
  pkg/jwt/epochJWT/epochJWT.go
Due: none

[web] fix loading of editorLocals for anonymous users
  services/web/httpController.go
Due: web

[web] use gin query binding instead of ad-hoc query parsing
  services/web/httpController.go
  services/web/pkg/types/loadEditor.go
Due: web

[web] perf: loadEditor: optimize multiple RTTs away
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/types/loadEditor.go
Due: web

[misc] implement expiration of JWTs
  pkg/jwt/compileJWT/compileJWT.go
  pkg/jwt/expiringJWT/expiringJWT.go
  pkg/jwt/jwtHandler/jwtHandler.go
  pkg/jwt/userIdJWT/userIdJWT.go
  pkg/jwt/wsBootstrap/wsBootstrap.go
  services/web/options.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/types/options.go
Due: web

[clsi] outputCacheManager: tweak error handling
  services/clsi/pkg/managers/clsi/internal/outputCache/outputCacheManager.go
Due: clsi

[clsi] outputCacheManager: write output files in parallel
  services/clsi/pkg/managers/clsi/internal/outputCache/outputCacheManager.go
  services/clsi/pkg/types/options.go
Due: clsi

[clsi] resourceWriter: drop unused channel
  services/clsi/pkg/managers/clsi/internal/resourceWriter/resourceWriter.go
Due: clsi

[clsi] resourceWriter: queue 3 items per worker
  services/clsi/pkg/managers/clsi/internal/resourceWriter/resourceWriter.go
Due: clsi

[clsi] resourceWriter: use an error group
  services/clsi/pkg/managers/clsi/internal/resourceWriter/resourceWriter.go
Due: clsi

[web] fix typo in JSON field jwtNotifications in ProjectListResponse
  services/web/pkg/types/projectList.go
Due: web

[web] simplify merging of interfaces via webManager
  services/web/httpController.go
  services/web/pkg/managers/web/webManager.go
Due: web

[web] add new JWT endpoint for getting system messages with lazy cache
  pkg/jwt/loggedInUserJWT/loggedInUserJWT.go
  pkg/models/systemMessage/fields.go
  pkg/models/systemMessage/manager.go
  pkg/models/systemMessage/models.go
  pkg/models/systemMessage/views.go
  services/web/httpController.go
  services/web/options.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/systemMessage/systemMessageManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/loadEditor.go
  services/web/pkg/types/options.go
  services/web/pkg/types/projectList.go
Due: web

[realTime] more robust error handling in server start/teardown
  services/real-time/main.go
Due: real-time

[realTime] separate pub/sub listening from Broadcaster init
  services/real-time/pkg/managers/realTime/internal/appliedOps/appliedOpsManager.go
  services/real-time/pkg/managers/realTime/internal/broadcaster/broadcaster.go
  services/real-time/pkg/managers/realTime/internal/channel/channelManager.go
  services/real-time/pkg/managers/realTime/internal/editorEvents/editorEventsManager.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
Due: real-time

[misc] move pendingOperation into shared package
  pkg/pendingOperation/pendingOperation.go
  pkg/pendingOperation/pendingOperationWithCancel.go
  services/clsi/pkg/managers/clsi/internal/project/pendingOperation.go
  services/clsi/pkg/managers/clsi/internal/project/pendingOperationWithCancel.go
  services/clsi/pkg/managers/clsi/internal/project/project.go
  services/real-time/pkg/managers/realTime/internal/broadcaster/broadcaster.go
  services/real-time/pkg/managers/realTime/internal/broadcaster/room.go
Due: clsi, real-time

[realTime] move channelManager into shared package
  pkg/pubSub/channel/channelManager.go
  pkg/sharedTypes/appliedOps.go
  services/real-time/pkg/managers/realTime/internal/appliedOps/appliedOpsManager.go
  services/real-time/pkg/managers/realTime/internal/broadcaster/broadcaster.go
  services/real-time/pkg/managers/realTime/internal/editorEvents/editorEventsManager.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
  services/real-time/pkg/types/editorEvents.go
Due: real-time

[documentUpdater] use channel.Writer for publishing to pub/sub
  pkg/pubSub/channel/channelManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/realTimeRedisManager/realTimeRedisManager.go
Due: document-updater

[realTime] move EditorEventsMessage into sharedTypes
  pkg/sharedTypes/editorEvents.go
  services/real-time/pkg/managers/realTime/internal/editorEvents/pubSub.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
Due: real-time

[web] add new endpoints for fetching projectMetadata
  pkg/models/project/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/projectMetadata/cache.go
  services/web/pkg/managers/web/internal/projectMetadata/packageMapping.go
  services/web/pkg/managers/web/internal/projectMetadata/packageMapping.json
  services/web/pkg/managers/web/internal/projectMetadata/parse.go
  services/web/pkg/managers/web/internal/projectMetadata/projectMetadataManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectMetadata.go
Due: web

[web] improve cache invalidation for projectMetadata
  services/document-updater/pkg/managers/documentUpdater/documentUpdaterManager.go
  services/document-updater/pkg/types/doc.go
  services/web/pkg/managers/web/internal/projectMetadata/cache.go
  services/web/pkg/managers/web/internal/projectMetadata/projectMetadataManager.go
Due: document-updater, web

[misc] bump the golang version to 1.17 and the alpine version to 3.14
  go.mod
  services/chat/Dockerfile
  services/chat/Makefile
  services/clsi/Dockerfile
  services/clsi/Makefile
  services/contacts/Dockerfile
  services/contacts/Makefile
  services/docstore/Dockerfile
  services/docstore/Makefile
  services/document-updater/Dockerfile
  services/document-updater/Makefile
  services/filestore/Dockerfile
  services/filestore/Makefile
  services/linked-url-proxy/Dockerfile
  services/linked-url-proxy/Makefile
  services/notifications/Dockerfile
  services/notifications/Makefile
  services/real-time/Dockerfile
  services/real-time/Makefile
  services/spelling/Makefile
  services/web/Dockerfile
  services/web/Makefile
Due: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

[misc] normalize copyright header in Dockerfiles and Makefiles
  services/chat/Dockerfile
  services/chat/Makefile
  services/clsi/Dockerfile
  services/clsi/Makefile
  services/contacts/Dockerfile
  services/contacts/Makefile
  services/docstore/Dockerfile
  services/docstore/Makefile
  services/document-updater/Dockerfile
  services/document-updater/Makefile
  services/filestore/Dockerfile
  services/filestore/Makefile
  services/linked-url-proxy/Dockerfile
  services/linked-url-proxy/Makefile
  services/notifications/Dockerfile
  services/notifications/Makefile
  services/real-time/Dockerfile
  services/real-time/Makefile
  services/spelling/Dockerfile
  services/spelling/Makefile
  services/web/Dockerfile
  services/web/Makefile
Due: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

[misc] normalize Makefile rules
  services/chat/Makefile
  services/clsi/Makefile
  services/contacts/Makefile
  services/docstore/Makefile
  services/document-updater/Makefile
  services/filestore/Makefile
  services/linked-url-proxy/Makefile
  services/notifications/Makefile
  services/real-time/Makefile
  services/spelling/Makefile
  services/web/Makefile
Due: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

[misc] build binaries in /go/src/github.com/das7pad/overleaf-go
  services/chat/Makefile
  services/clsi/Makefile
  services/contacts/Makefile
  services/docstore/Makefile
  services/document-updater/Makefile
  services/filestore/Makefile
  services/linked-url-proxy/Makefile
  services/notifications/Makefile
  services/real-time/Makefile
  services/spelling/Makefile
  services/web/Makefile
Due: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

[documentUpdater] make redisLocker more robust to race conditions
  services/document-updater/pkg/managers/documentUpdater/internal/redisLocker/redisLocker.go
Due: document-updater

[documentUpdater] fix GetProjectDocsAndFlushIfOld returning nil docs
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
Due: document-updater

[pkg/httpUtils] drop useless c.Next() invocations
  pkg/httpUtils/idValidation.go
  pkg/httpUtils/noCache.go
Due: none

[web] implement session handling and add login endpoint to public api
  pkg/asyncForm/asyncForm.go
  pkg/httpUtils/respond.go
  pkg/models/user/auditLog.go
  pkg/models/user/emailDetails.go
  pkg/models/user/fields.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  pkg/models/user/views.go
  pkg/session/deSyncProtection.go
  pkg/session/manager.go
  pkg/session/session.go
  pkg/session/sessionData.go
  pkg/session/sessionId.go
  pkg/sharedTypes/email.go
  pkg/signedCookie/manager.go
  pkg/signedCookie/options.go
  pkg/signedCookie/sign.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/login.go
  services/web/pkg/types/options.go
Due: web

[web] add logout endpoint to public api
  pkg/session/manager.go
  pkg/session/session.go
  pkg/signedCookie/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/types/login.go
Due: web

[web] trigger cycling of csrf secret when cycling/clearing session id
  pkg/session/manager.go
Due: none

[web] optionally get session cookie secret from env
  pkg/signedCookie/options.go
  services/web/options.go
Due: web

[web] always provide a non-nil session User and incomingUserId
  pkg/session/deSyncProtection.go
  pkg/session/manager.go
  pkg/session/session.go
  pkg/session/sessionData.go
  pkg/session/sessionId.go
Due: none

[web] hard code anonymous user epoch to 0
  pkg/models/user/manager.go
  pkg/session/sessionData.go
Due: none

[web] add endpoint for getting compile jwt
  pkg/models/project/authorization.go
  pkg/models/project/models.go
  pkg/models/project/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/types/getCompileJWT.go
Due: web

[web] cut down the serialized size of compileJWT
  pkg/jwt/compileJWT/compileJWT.go
  services/web/pkg/types/compileProject.go
Due: web

[web] explicitly copy over authorization details into loadEditor resp
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/types/loadEditor.go
Due: web

[web] add AuthorizationDetails into compileJWT and trim json field names
  pkg/jwt/compileJWT/compileJWT.go
  pkg/models/project/authorization.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
Due: web

[web] rename compileJWT to projectJWT
  pkg/jwt/projectJWT/projectJWT.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/getCompileJWT.go
  services/web/pkg/types/loadEditor.go
Due: web
