Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

chat:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/chat') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/chat/docker-image.digest.txt'
            }
  ...

clsi:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/clsi') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/clsi/docker-image.digest.txt'
            }
  ...

contacts:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/contacts') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/contacts/docker-image.digest.txt'
  ...

docstore:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/docstore') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/docstore/docker-image.digest.txt'
  ...

document-updater:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/document-updater') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
  ...

filestore:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/filestore') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/filestore/docker-image.digest.txt'
  ...

linked-url-proxy:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/linked-url-proxy') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
  ...

notifications:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/notifications') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
  ...

real-time:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/real-time') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/real-time/docker-image.digest.txt'
  ...

[misc] upgrade golang to 1.18
  cmd/Makefile
  go.mod
  services/clsi/Makefile
  services/document-updater/Makefile
  services/linked-url-proxy/Makefile
  services/real-time/Makefile
  services/spelling/Makefile
  services/web/Makefile
Due: clsi, document-updater, linked-url-proxy, real-time, spelling, web

[WIP] migrate from mongodb to edgedb
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/new.go
  pkg/models/project/tree.go
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
  services/web/pkg/managers/web/internal/fileTree/addFolder.go
  services/web/pkg/managers/web/internal/fileTree/restoreDoc.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
Due: web

[WIP] migrate from mongodb to edgedb
  pkg/models/project/manager.go
  pkg/models/project/models.go
  services/web/pkg/managers/web/internal/editor/getProjectJWT.go
Due: web

[WIP] migrate from mongodb to edgedb
  pkg/models/doc/manager.go
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  services/clsi/pkg/managers/clsi/clsiManager.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/agentRunner.go
  services/clsi/pkg/managers/clsi/internal/draftMode/draftMode.go
  services/clsi/pkg/types/compile.go
  services/docstore/pkg/managers/docstore/docstoreManager.go
  services/document-updater/pkg/managers/documentUpdater/documentUpdaterManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/dispatchManager/dispatchManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/monolith.go
  services/document-updater/pkg/types/doc.go
  services/document-updater/pkg/types/joinDoc.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/projectMetadata/cache.go
  services/web/pkg/managers/web/internal/projectMetadata/parse.go
  services/web/pkg/managers/web/internal/projectMetadata/projectMetadataManager.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
Due: clsi, docstore, document-updater, real-time, web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00048.edgeql
  pkg/models/oneTimeToken/manager.go
  pkg/models/user/fields.go
  pkg/models/user/manager.go
  services/web/pkg/managers/web/internal/login/confirmEmail.go
Due: web

[WIP] migrate from mongodb to edgedb
  cmd/userAdmin/main.go
  pkg/jwt/projectJWT/projectJWT.go
  pkg/models/project/manager.go
  pkg/models/user/manager.go
  services/web/pkg/managers/web/internal/editor/removeMember.go
  services/web/pkg/managers/web/internal/editor/setMemberPrivilegeLevel.go
  services/web/pkg/managers/web/internal/editor/transferOwnership.go
  services/web/pkg/managers/web/internal/login/changeEmailAddress.go
  services/web/pkg/managers/web/internal/login/changePassword.go
  services/web/pkg/managers/web/internal/login/clearSessions.go
  services/web/pkg/managers/web/internal/projectInvite/accept.go
  services/web/pkg/managers/web/internal/projectInvite/revoke.go
  services/web/pkg/managers/web/internal/tokenAccess/tokenAccessManager.go
  services/web/pkg/managers/web/webManager.go
Due: web

[WIP] migrate from mongodb to edgedb
  pkg/models/user/manager.go
Due: none

[WIP] migrate from mongodb to edgedb
  cmd/migrate/internal/migrations/20220102130000_docVersion_stage4/migrate.go
  cmd/migrate/internal/migrations/20220126233000_users_signUpDate_typo/migrate.go
  go.mod
  go.sum
  pkg/models/deletedFile/models.go
  pkg/models/deletedProject/deleterData.go
  pkg/models/deletedProject/models.go
  pkg/models/deletedUser/deleterData.go
  pkg/models/deletedUser/models.go
  pkg/models/doc/models.go
  pkg/models/docOps/fields.go
  pkg/models/internal/views/views.go
  pkg/models/notification/model.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  pkg/models/projectInvite/models.go
  pkg/models/systemMessage/models.go
  pkg/models/tag/models.go
  pkg/models/user/backFilling.go
  pkg/models/user/models.go
  pkg/sharedTypes/ranges.go
  services/web/pkg/managers/web/internal/healthCheck/api.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/userDeletion/softDeletion.go
Due: web

[WIP] migrate from mongodb to edgedb
  pkg/models/oneTimeToken/manager.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/web/pkg/managers/web/internal/editor/settings.go
  services/web/pkg/managers/web/internal/tokenAccess/tokenAccessManager.go
  services/web/pkg/managers/web/internal/userCreation/createUser.go
Due: real-time, web

[WIP] migrate from mongodb to edgedb
  pkg/models/project/manager.go
  services/web/pkg/managers/web/internal/inactiveProject/inactiveProjectManager.go
  services/web/pkg/managers/web/webManager.go
Due: web

[WIP] migrate from mongodb to edgedb
  pkg/models/contact/fields.go
  pkg/models/contact/manager.go
  pkg/models/user/contactDetails.go
  pkg/models/user/fields.go
  pkg/models/user/manager.go
  services/web/pkg/managers/web/internal/editor/contacts.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/projectInvite/accept.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/internal/userDeletion/hardDeletion.go
  services/web/pkg/managers/web/internal/userDeletion/userDeletionManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/contacts.go
Due: web

[WIP] migrate from mongodb to edgedb
  pkg/models/notification/fields.go
  pkg/models/notification/manager.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/projectInvite/fields.go
  pkg/models/projectInvite/manager.go
  pkg/models/projectInvite/models.go
  pkg/models/projectInvite/token.go
  pkg/models/user/manager.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/web/pkg/managers/web/internal/projectInvite/accept.go
  services/web/pkg/managers/web/internal/projectInvite/create.go
  services/web/pkg/managers/web/internal/projectInvite/details.go
  services/web/pkg/managers/web/internal/projectInvite/list.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/internal/projectInvite/revoke.go
  services/web/pkg/types/projectInvite.go
Due: real-time, web

[misc] viewInvite: add whitespace before users email address
  pkg/templates/project/viewInvite.gohtml
Due: none

[WIP] migrate from mongodb to edgedb
  pkg/models/project/manager.go
  pkg/models/tag/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/removeMember.go
Due: web

[WIP] migrate from mongodb to edgedb
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  services/document-updater/pkg/types/projectHistory.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/fileTree/addFolder.go
  services/web/pkg/managers/web/internal/fileTree/move.go
  services/web/pkg/managers/web/internal/fileTree/moveDoc.go
  services/web/pkg/managers/web/internal/fileTree/moveFolder.go
  services/web/pkg/managers/web/internal/fileTree/renameDoc.go
  services/web/pkg/managers/web/internal/fileTree/renameFolder.go
  services/web/pkg/types/fileTree.go
Due: document-updater, web

[WIP] migrate from mongodb to edgedb
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  pkg/templates/project.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/monolith.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/webApiManager.go
  services/document-updater/pkg/types/doc.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/managers/web/internal/projectDownload/multi.go
  services/web/pkg/managers/web/internal/projectDownload/single.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/userCreation/registerUser.go
Due: document-updater, web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00049.edgeql
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/monolith.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/compile/headless.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/fileTree/renameDoc.go
  services/web/pkg/managers/web/internal/fileTree/renameFolder.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/types/fileTree.go
Due: document-updater, web

[WIP] migrate from mongodb to edgedb
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  pkg/models/projectInvite/manager.go
  pkg/models/user/manager.go
  services/web/pkg/managers/web/internal/fileTree/rename.go
  services/web/pkg/managers/web/internal/fileTree/renameFile.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
Due: web

[httpUtils] cors: cleanup logging
  pkg/httpUtils/cors.go
Due: none

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00050.edgeql
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  services/web/pkg/managers/web/internal/fileTree/projectEntities.go
  services/web/pkg/types/projectEntities.go
Due: web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00051.edgeql
  pkg/models/project/manager.go
  pkg/sharedTypes/appliedOps.go
  services/chat/pkg/managers/chat/chatManager.go
  services/chat/pkg/managers/chat/internal/message/messageManager.go
  services/chat/pkg/types/types.go
  services/web/pkg/managers/web/internal/editor/chat.go
  services/web/pkg/managers/web/internal/review/comment.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectChat.go
Due: chat, web

[WIP] migrate from mongodb to edgedb
  pkg/models/message/fields.go
  pkg/models/message/manager.go
  pkg/models/message/models.go
  pkg/models/room/fields.go
  services/chat/pkg/managers/chat/internal/message/messageManager.go
  services/chat/pkg/managers/chat/internal/thread/threadManager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/chat.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/projectDeletion/hardDeletion.go
  services/web/pkg/managers/web/internal/projectDeletion/projectDeletionManager.go
  services/web/pkg/managers/web/internal/review/comment.go
  services/web/pkg/managers/web/internal/review/reviewManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectChat.go
  services/web/pkg/types/review.go
Due: chat, web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00052.edgeql
  go.mod
  go.sum
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/monolith.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/compile/headless.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/fileTree/move.go
  services/web/pkg/managers/web/internal/fileTree/moveDoc.go
  services/web/pkg/managers/web/internal/fileTree/moveFile.go
  services/web/pkg/managers/web/internal/fileTree/moveFolder.go
  services/web/pkg/managers/web/internal/fileTree/projectEntities.go
  services/web/pkg/managers/web/internal/fileTree/renameFolder.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/types/fileTree.go
Due: document-updater, web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00002.edgeql
  dbschema/migrations/00003.edgeql
  pkg/httpUtils/idValidation.go
  pkg/models/project/manager.go
  pkg/models/project/trackChangesState.go
  pkg/models/project/tree.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/file.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
  services/web/pkg/managers/web/internal/linkedFile/linkedFileManager.go
  services/web/pkg/managers/web/internal/linkedFile/projectFile.go
  services/web/pkg/managers/web/internal/projectMetadata/projectMetadataManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/linkedFile.go
  services/web/pkg/types/projectFile.go
Due: web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00004.edgeql
  go.mod
  go.sum
  pkg/models/deletedProject/deleterData.go
  pkg/models/deletedProject/fields.go
  pkg/models/deletedProject/manager.go
  pkg/models/deletedProject/models.go
  pkg/models/notification/fields.go
  pkg/models/notification/manager.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  pkg/models/project/views.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/webApiManager.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/settings.go
  services/web/pkg/managers/web/internal/editor/transferOwnership.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/managers/web/internal/fileTree/renameDoc.go
  services/web/pkg/managers/web/internal/fileTree/restoreDoc.go
  services/web/pkg/managers/web/internal/fileTree/retries.go
  services/web/pkg/managers/web/internal/projectDeletion/hardDeletion.go
  services/web/pkg/managers/web/internal/projectDeletion/softDeletion.go
  services/web/pkg/managers/web/internal/projectDeletion/undelete.go
  services/web/pkg/managers/web/internal/projectDownload/single.go
  services/web/pkg/managers/web/internal/projectInvite/details.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/managers/web/webManager.go
Due: document-updater, real-time, web

[WIP] migrate from mongodb to edgedb
  pkg/models/project/manager.go
  services/web/pkg/managers/web/internal/linkedURLProxy/buffer.go
  services/web/pkg/managers/web/internal/openInOverleaf/fromSnippets.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/content.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/exampleProjects.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/templates.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/projectUpload/zip.go
  services/web/pkg/types/exampleProject.go
  services/web/pkg/types/upload.go
Due: web

[WIP] migrate from mongodb to edgedb
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  pkg/models/user/manager.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/monolith.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/types/joinProject.go
  services/web/pkg/managers/web/internal/compile/headless.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/fileTree/moveFolder.go
  services/web/pkg/managers/web/internal/fileTree/projectEntities.go
  services/web/pkg/managers/web/internal/fileTree/renameFolder.go
  services/web/pkg/managers/web/internal/linkedURLProxy/buffer.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/internal/openInOverleaf/fromSnippets.go
  services/web/pkg/managers/web/internal/projectInvite/accept.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/content.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/projectUpload/zip.go
  services/web/pkg/managers/web/internal/tokenAccess/tokenAccessManager.go
  services/web/pkg/managers/web/internal/userCreation/adminCreateUser.go
  services/web/pkg/managers/web/internal/userCreation/userCreationManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/clone.go
  services/web/pkg/types/upload.go
Due: document-updater, real-time, web

[WIP] migrate from mongodb to edgedb
  pkg/models/project/manager.go
  pkg/models/user/manager.go
Due: none

[WIP] migrate from mongodb to edgedb
  pkg/sharedTypes/appliedOps.go
  pkg/templates/project/editor.gohtml
  services/document-updater/pkg/managers/documentUpdater/documentUpdaterManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/redisManager/redisManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/updateManager/updateManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/monolith.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/webApiManager.go
  services/document-updater/pkg/types/doc.go
  services/document-updater/pkg/types/doc_test.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/web/pkg/managers/web/internal/userCreation/registerUser.go
  services/web/pkg/managers/web/internal/userCreation/welcomeEmail.go
Due: document-updater, real-time, web

[httpUtils] drop port from client ip
  pkg/httpUtils/router.go
Due: none

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00013.edgeql
  dbschema/migrations/00014.edgeql
  dbschema/migrations/00015.edgeql
  pkg/models/docHistory/fields.go
  pkg/models/docHistory/manager.go
  pkg/models/docHistory/models.go
  pkg/models/docHistory/op.go
  pkg/models/project/manager.go
  pkg/models/user/backFilling.go
  pkg/models/user/models.go
  pkg/redisLocker/redisLocker.go
  pkg/sharedTypes/appliedOps.go
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/trackChanges/trackChangesManager.go
  services/document-updater/pkg/sharejs/types/text/apply.go
  services/document-updater/pkg/sharejs/types/text/diff.go
  services/document-updater/pkg/sharejs/types/text/util.go
  services/document-updater/pkg/types/options.go
  services/track-changes/pkg/managers/trackChanges/flush/doc.go
  services/track-changes/pkg/managers/trackChanges/flush/flushManager.go
  services/track-changes/pkg/managers/trackChanges/flush/project.go
  services/track-changes/pkg/managers/trackChanges/trackChangesManager.go
  services/track-changes/pkg/managers/trackChanges/updates/updatesManager.go
  services/track-changes/pkg/types/updates.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
  services/web/pkg/managers/web/internal/history/historyManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/options.go
Due: document-updater, web

[WIP] migrate from mongodb to edgedb
  dbschema/migrations/00016.edgeql
  pkg/models/docHistory/fields.go
  pkg/models/docHistory/manager.go
  pkg/models/docHistory/models.go
  services/document-updater/httpController.go
  services/document-updater/main.go
  services/document-updater/pkg/managers/documentUpdater/documentUpdaterManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/trackChanges/trackChangesManager.go
  services/document-updater/pkg/sharejs/types/text/transform.go
  services/document-updater/pkg/sharejs/types/text/util.go
  services/document-updater/pkg/types/options.go
  services/track-changes/pkg/managers/trackChanges/diff/diffManager.go
  services/track-changes/pkg/managers/trackChanges/diff/getDiff.go
  services/track-changes/pkg/managers/trackChanges/diff/restore.go
  services/track-changes/pkg/managers/trackChanges/flush/doc.go
  services/track-changes/pkg/managers/trackChanges/trackChangesManager.go
  services/track-changes/pkg/managers/trackChanges/updates/updatesManager.go
  services/track-changes/pkg/types/diff.go
  services/web/pkg/managers/web/internal/history/historyManager.go
  services/web/pkg/managers/web/internal/projectDeletion/hardDeletion.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/options.go
Due: document-updater, web

[misc] move -buildvcs=false into GOFLAGS of build container
  cmd/Makefile
  services/clsi/Makefile
  services/document-updater/Makefile
  services/linked-url-proxy/Makefile
  services/real-time/Makefile
  services/spelling/Makefile
  services/web/Makefile
Due: clsi, document-updater, linked-url-proxy, real-time, spelling, web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00017.edgeql
  pkg/models/docHistory/manager.go
  pkg/models/docHistory/models.go
  services/track-changes/pkg/managers/trackChanges/diff/diffManager.go
  services/track-changes/pkg/managers/trackChanges/flush/doc.go
Due: none

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00001.edgeql
  dbschema/migrations/00002.edgeql
  dbschema/migrations/00003.edgeql
  dbschema/migrations/00004.edgeql
  dbschema/migrations/00005.edgeql
  dbschema/migrations/00006.edgeql
  dbschema/migrations/00007.edgeql
  dbschema/migrations/00008.edgeql
  dbschema/migrations/00009.edgeql
  dbschema/migrations/00011.edgeql
  dbschema/migrations/00012.edgeql
  dbschema/migrations/00013.edgeql
  dbschema/migrations/00014.edgeql
  dbschema/migrations/00015.edgeql
  dbschema/migrations/00016.edgeql
  dbschema/migrations/00017.edgeql
  dbschema/migrations/00018.edgeql
  pkg/models/doc/manager.go
  pkg/models/docHistory/manager.go
  pkg/models/message/manager.go
  pkg/models/oneTimeToken/manager.go
  pkg/models/project/manager.go
  pkg/models/projectInvite/manager.go
  pkg/models/tag/manager.go
  pkg/models/user/backFilling.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  pkg/templates/layout/layout-angular.gohtml
  pkg/templates/layout/layout-marketing.gohtml
  services/track-changes/pkg/managers/trackChanges/diff/diffManager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/healthCheck/api.go
  services/web/pkg/managers/web/internal/projectInvite/details.go
  services/web/pkg/managers/web/internal/projectInvite/list.go
  services/web/pkg/managers/web/internal/projectInvite/view.go
  services/web/pkg/managers/web/internal/userCreation/createUser.go
  services/web/pkg/types/projectInvite.go
Due: web

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**
