Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**

[clsi] drop useless shell escaping of root doc path
  pkg/templates/project.go
  services/clsi/pkg/managers/clsi/internal/rootDocAlias/rootDocAlias.go
  services/clsi/pkg/types/compile.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/compile/headless.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/types/compileProject.go
Due: clsi, web

[misc] fix harmless data race in systemMessage caching, yield errors
  services/web/pkg/managers/web/internal/systemMessage/systemMessageManager.go
  services/web/pkg/router/httpController.go
Due: web

[pendingOperation] TrackOperation: defer invocation into goroutine
  pkg/pendingOperation/pendingOperation.go
Due: none

[web] router: refactor common snippets into helper functions
  pkg/httpUtils/upload.go
  services/web/pkg/router/httpController.go
Due: web

[pkg/templates] cleanup dead code in project/editor
  pkg/templates/project/editor.gohtml
Due: none

[web] order args of ProcessFileUpload to have dest before src
  pkg/httpUtils/upload.go
  services/web/pkg/router/httpController.go
Due: web

[web] router: handle session population entirely in helper functions
  services/web/pkg/managers/web/internal/openInOverleaf/fromZip.go
  services/web/pkg/managers/web/internal/projectDownload/multi.go
  services/web/pkg/router/httpController.go
  services/web/pkg/types/admin.go
  services/web/pkg/types/archiveProject.go
  services/web/pkg/types/betaProgram.go
  services/web/pkg/types/changePassword.go
  services/web/pkg/types/clone.go
  services/web/pkg/types/common.go
  services/web/pkg/types/compileProject.go
  services/web/pkg/types/confirmEmail.go
  services/web/pkg/types/contacts.go
  services/web/pkg/types/exampleProject.go
  services/web/pkg/types/getCompileJWT.go
  services/web/pkg/types/getWSBootstrap.go
  services/web/pkg/types/home.go
  services/web/pkg/types/learn.go
  services/web/pkg/types/login.go
  services/web/pkg/types/notifications.go
  services/web/pkg/types/openInOverleaf.go
  services/web/pkg/types/projectDeletion.go
  services/web/pkg/types/projectDownload.go
  services/web/pkg/types/projectEntities.go
  services/web/pkg/types/projectFile.go
  services/web/pkg/types/projectInvite.go
  services/web/pkg/types/projectList.go
  services/web/pkg/types/projectMember.go
  services/web/pkg/types/projectSettings.go
  services/web/pkg/types/renameProject.go
  services/web/pkg/types/restricted.go
  services/web/pkg/types/spelling.go
  services/web/pkg/types/tags.go
  services/web/pkg/types/tokenAccess.go
  services/web/pkg/types/trashProject.go
  services/web/pkg/types/upload.go
  services/web/pkg/types/userCreation.go
  services/web/pkg/types/userDeletion.go
  services/web/pkg/types/userProjects.go
Due: web

[web] router: move fetching of signed compile project request options
  services/web/pkg/router/httpController.go
Due: web

[web] router: normalize name of response var to "response"
  services/web/pkg/router/httpController.go
Due: web

[web] refactor common process for populating projectId/userId
  services/web/pkg/managers/web/internal/editor/removeMember.go
  services/web/pkg/managers/web/internal/editor/setMemberPrivilegeLevel.go
  services/web/pkg/managers/web/internal/editor/transferOwnership.go
  services/web/pkg/managers/web/internal/linkedFile/projectFile.go
  services/web/pkg/managers/web/internal/linkedFile/projectOutputFile.go
  services/web/pkg/managers/web/internal/linkedFile/url.go
  services/web/pkg/managers/web/internal/projectInvite/create.go
  services/web/pkg/managers/web/internal/projectInvite/resend.go
  services/web/pkg/router/httpController.go
  services/web/pkg/types/common.go
  services/web/pkg/types/fileTree.go
  services/web/pkg/types/linkedFile.go
  services/web/pkg/types/projectInvite.go
  services/web/pkg/types/projectMember.go
  services/web/pkg/types/projectSettings.go
Due: web

[translations] import all the locales
  pkg/translations/cmd/import/main.go
  pkg/translations/locales/cs.json
  pkg/translations/locales/cs.json.license
  pkg/translations/locales/da.json
  pkg/translations/locales/da.json.license
  pkg/translations/locales/de.json
  pkg/translations/locales/de.json.license
  pkg/translations/locales/es.json
  pkg/translations/locales/es.json.license
  pkg/translations/locales/fi.json
  pkg/translations/locales/fi.json.license
  pkg/translations/locales/fr.json
  pkg/translations/locales/fr.json.license
  pkg/translations/locales/it.json
  pkg/translations/locales/it.json.license
  pkg/translations/locales/ja.json
  pkg/translations/locales/ja.json.license
  pkg/translations/locales/ko.json
  pkg/translations/locales/ko.json.license
  pkg/translations/locales/nl.json
  pkg/translations/locales/nl.json.license
  pkg/translations/locales/no.json
  pkg/translations/locales/no.json.license
  pkg/translations/locales/pl.json
  pkg/translations/locales/pl.json.license
  pkg/translations/locales/pt.json
  pkg/translations/locales/pt.json.license
  pkg/translations/locales/ru.json
  pkg/translations/locales/ru.json.license
  pkg/translations/locales/sv.json
  pkg/translations/locales/sv.json.license
  pkg/translations/locales/tr.json
  pkg/translations/locales/tr.json.license
  pkg/translations/locales/zh-CN.json
  pkg/translations/locales/zh-CN.json.license
Due: none

[web] implement switching of site language
  pkg/translations/translations.go
  services/web/pkg/managers/web/internal/siteLanguage/siteLanguageManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/router/httpController.go
  services/web/pkg/types/switchLanguage.go
Due: web

[pkg/templates] set explicit json keys in options
  pkg/templates/publicSettings.go
Due: none

[web] add option for default language and load configured languages only
  pkg/templates/content.go
  pkg/templates/publicSettings.go
  pkg/templates/templates.go
  pkg/translations/translations.go
  services/web/pkg/managers/web/internal/siteLanguage/siteLanguageManager.go
  services/web/pkg/managers/web/webManager.go
Due: web

[web] validate i18n options
  pkg/templates/publicSettings.go
  pkg/templates/templates.go
  pkg/translations/translations.go
  services/web/pkg/managers/web/internal/siteLanguage/siteLanguageManager.go
  services/web/pkg/types/options.go
Due: web

[web] improve rendering of a few pages for mobile devices
  pkg/templates/respondHTML.go
  services/web/pkg/managers/web/internal/userCreation/registerUser.go
Due: web

[pkg/assets] fix logic data-race between html and resource hints in dev
  pkg/assets/assets.go
  pkg/assets/watch.go
  pkg/templates/admin.go
  pkg/templates/betaProgram.go
  pkg/templates/general.go
  pkg/templates/learn.go
  pkg/templates/openInOverleaf.go
  pkg/templates/project.go
  pkg/templates/respondHTML.go
  pkg/templates/templates.go
  pkg/templates/user.go
Due: none

[misc] inline options values into manager structs as needed
  services/clsi/pkg/managers/clsi/clsiManager.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/agentRunner.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/localRunner.go
  services/clsi/pkg/managers/clsi/internal/latexRunner/latexRunner.go
  services/clsi/pkg/managers/clsi/internal/outputCache/outputCacheManager.go
  services/clsi/pkg/managers/clsi/internal/outputFileFinder/outputFileFinder.go
  services/clsi/pkg/managers/clsi/internal/project/project.go
  services/clsi/pkg/managers/clsi/internal/project/projectManager.go
  services/clsi/pkg/managers/clsi/internal/resourceWriter/resourceCache.go
  services/clsi/pkg/managers/clsi/internal/resourceWriter/resourceWriter.go
  services/clsi/pkg/managers/clsi/internal/syncTex/syncTex.go
  services/clsi/pkg/managers/clsi/internal/wordCounter/wordCounter.go
  services/clsi/pkg/types/options.go
  services/clsi/pkg/types/paths.go
  services/document-updater/pkg/managers/documentUpdater/internal/dispatchManager/dispatchManager.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/compile/persistence.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/editor/settings.go
  services/web/pkg/managers/web/internal/editor/transferOwnership.go
  services/web/pkg/managers/web/internal/login/changePassword.go
  services/web/pkg/managers/web/internal/login/confirmEmail.go
  services/web/pkg/managers/web/internal/login/emailSecurityAlert.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
  services/web/pkg/managers/web/internal/userCreation/adminCreateUser.go
  services/web/pkg/managers/web/internal/userCreation/createUser.go
  services/web/pkg/managers/web/internal/userCreation/registerUser.go
  services/web/pkg/managers/web/internal/userCreation/sendActivateEmail.go
  services/web/pkg/managers/web/internal/userCreation/userCreationManager.go
  services/web/pkg/managers/web/internal/userCreation/welcomeEmail.go
Due: clsi, document-updater, real-time, web

[misc] provide method on all options structs for sourcing from env var
  cmd/overleaf/main.go
  services/clsi/main.go
  services/clsi/options.go
  services/clsi/pkg/types/options.go
  services/document-updater/main.go
  services/document-updater/options.go
  services/document-updater/pkg/types/options.go
  services/real-time/main.go
  services/real-time/options.go
  services/real-time/pkg/types/options.go
  services/spelling/main.go
  services/spelling/options.go
  services/spelling/pkg/types/options.go
  services/web/main.go
  services/web/options.go
Due: clsi, document-updater, real-time, spelling, web

[clsi] bundle the seccomp policy into the clsi binary
  services/clsi/.dockerignore
  services/clsi/Dockerfile
  services/clsi/options.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/agentRunner.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/internal/seccomp/policy.json
  services/clsi/pkg/managers/clsi/internal/commandRunner/internal/seccomp/policy.json.license
  services/clsi/pkg/managers/clsi/internal/commandRunner/internal/seccomp/seccomp.go
  services/clsi/pkg/types/options.go
Due: clsi

[clsi] move copying of exec agent into setup of agent runner
  services/clsi/Dockerfile
  services/clsi/main.go
  services/clsi/options.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/agentRunner.go
  services/clsi/pkg/types/options.go
Due: clsi

[WIP] provide a binary with all services, but linked-url-proxy
  cmd/Dockerfile
  cmd/Makefile
  services/clsi/Makefile
  services/document-updater/Makefile
  services/linked-url-proxy/Makefile
  services/real-time/Makefile
  services/spelling/Makefile
  services/web/Makefile
Due: clsi, document-updater, linked-url-proxy, real-time, spelling, web

[clsi] rename CompileDirBase to CompileBaseDir
  services/clsi/pkg/managers/clsi/internal/commandRunner/agentRunner.go
  services/clsi/pkg/managers/clsi/internal/latexRunner/latexRunner.go
  services/clsi/pkg/managers/clsi/internal/resourceWriter/resourceWriter.go
  services/clsi/pkg/managers/clsi/internal/wordCounter/wordCounter.go
  services/clsi/pkg/types/options.go
  services/clsi/pkg/types/paths.go
Due: clsi

[clsi] flip argument sequence for copyFile functions -- dst comes first
  pkg/translations/cmd/import/main.go
  services/clsi/pkg/copyFile/copyAtomic.go
  services/clsi/pkg/copyFile/copyNonAtomic.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/agentRunner.go
  services/clsi/pkg/managers/clsi/internal/outputCache/outputCacheManager.go
  services/clsi/pkg/managers/clsi/internal/urlCache/urlCache.go
Due: clsi

[web] allow JWT refresh via GET and POST requests
  services/web/pkg/router/httpController.go
Due: web

[models/doc] fix updating of project last_updated_at when updating doc
  pkg/models/doc/manager.go
Due: none

[models/doc] check that doc belongs to project when updating doc
  pkg/models/doc/manager.go
Due: none

[track-changes] optimize merging of updates
  pkg/sharedTypes/appliedOps.go
  services/track-changes/pkg/managers/trackChanges/flush/doc.go
Due: none

[sharedTypes] implement Snippet.Equals
  pkg/sharedTypes/appliedOps.go
  pkg/sharedTypes/text.go
  services/document-updater/pkg/sharejs/types/text/apply.go
  services/document-updater/pkg/sharejs/types/text/transform.go
Due: document-updater

[track-changes] rework merging and add tests
  services/track-changes/pkg/managers/trackChanges/flush/doc.go
  services/track-changes/pkg/managers/trackChanges/flush/merge.go
  services/track-changes/pkg/managers/trackChanges/flush/merge_test.go
Due: none

[pkg/translations] fix tests
  pkg/translations/translations_test.go
Due: none

[jenkins] run tests
  Jenkinsfile
  cmd/Makefile
Due: none

[spelling] rename install_deps.sh to install_aspell.sh
  services/spelling/.dockerignore
  services/spelling/Dockerfile
  services/spelling/install_aspell.sh
Due: spelling

[misc] build cmds in bulk
  cmd/Makefile
Due: none

[misc] bump dependencies
  go.mod
  go.sum
Due: none

[sharedTypes] Email: block labeled RFC5322 addresses "x <y@z.com>"
  pkg/sharedTypes/email.go
  pkg/sharedTypes/email_test.go
Due: none

[model/project] provider leaner, targeted variants of ListProjects
  pkg/models/project/manager.go
  pkg/models/project/models.go
  services/web/pkg/managers/web/internal/projectDeletion/softDeletion.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/types/userProjects.go
Due: web

[web] oio: fix auto-detection of snippet paths
  services/web/pkg/types/openInOverleaf.go
Due: web

[model/project] use a single connection for fetching project listing
  pkg/models/project/manager.go
Due: none
