Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**

[docstore] move doc model and manager into pkg/models
  pkg/models/doc/fields.go
  pkg/models/doc/filter.go
  pkg/models/doc/manager.go
  pkg/models/doc/models.go
  pkg/models/doc/validation.go
  pkg/models/doc/views.go
  pkg/models/docOps/fields.go
  pkg/models/internal/views/views.go
  services/docstore/httpController.go
  services/docstore/pkg/managers/docstore/docstoreManager.go
  services/docstore/pkg/managers/docstore/internal/docArchive/docArchiveManager.go
  services/docstore/pkg/managers/docstore/internal/docs/views.go
  services/docstore/pkg/models/models.go
Due: docstore

[misc] use error tagging instead of wrapping with fmt.Errorf("%w")
  pkg/objectStorage/backend.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/agentRunner.go
  services/clsi/pkg/managers/clsi/internal/outputCache/outputCacheManager.go
  services/clsi/pkg/managers/clsi/internal/project/projectManager.go
  services/clsi/pkg/managers/clsi/internal/resourceWriter/resourceWriter.go
  services/docstore/pkg/managers/docstore/internal/docArchive/docArchiveManager.go
  services/spelling/pkg/managers/spelling/internal/aspell/internal/aspellRunner/aspellWorker.go
  services/spelling/pkg/managers/spelling/internal/aspell/internal/aspellRunner/aspellWorkerPool.go
Due: clsi, docstore, spelling

[spelling] fix caching of aspell docker image layers
  services/spelling/Makefile
Due: spelling

[misc] rework CI trigger -- rebuild when any shared module changed
  Jenkinsfile
  bin/gen_Jenkinsfile.sh
  services/chat/Makefile
  services/clsi/Makefile
  services/contacts/Makefile
  services/docstore/Makefile
  services/document-updater/Makefile
  services/filestore/Makefile
  services/linked-url-proxy/Makefile
  services/notifications/Makefile
  services/real-time/Makefile
  services/spelling/Makefile
  services/web/Makefile
Due: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

[chat] rewrite httpController with gin framework
  go.mod
  go.sum
  services/chat/httpController.go
Due: chat

[misc] rewrite all the httpController with gin framework
  go.mod
  go.sum
  pkg/errors/common.go
  pkg/httpUtils/cors.go
  pkg/httpUtils/idValidation.go
  pkg/httpUtils/jwt.go
  pkg/httpUtils/noCache.go
  pkg/httpUtils/parse.go
  pkg/httpUtils/respond.go
  services/chat/httpController.go
  services/clsi/httpController.go
  services/contacts/httpController.go
  services/contacts/pkg/managers/contacts/contactManager.go
  services/docstore/httpController.go
  services/document-updater/httpController.go
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
  services/filestore/httpController.go
  services/linked-url-proxy/httpController.go
  services/notifications/httpController.go
  services/notifications/options.go
  services/real-time/httpController.go
  services/real-time/options.go
  services/spelling/httpController.go
  services/spelling/options.go
  services/web/httpController.go
  services/web/options.go
Due: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

[misc] produce smaller binaries by eliminating MessagePack rendering
  services/chat/Makefile
  services/clsi/Makefile
  services/contacts/Makefile
  services/docstore/Makefile
  services/document-updater/Makefile
  services/filestore/Makefile
  services/linked-url-proxy/Makefile
  services/notifications/Makefile
  services/real-time/Makefile
  services/spelling/Makefile
  services/web/Makefile
Due: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

[misc] add HEAD /status route to all services
  services/chat/httpController.go
  services/clsi/httpController.go
  services/contacts/httpController.go
  services/docstore/httpController.go
  services/document-updater/httpController.go
  services/filestore/httpController.go
  services/linked-url-proxy/httpController.go
  services/notifications/httpController.go
  services/real-time/httpController.go
  services/spelling/httpController.go
  services/web/httpController.go
Due: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

[clsi] add HEAD /health_check route
  services/clsi/httpController.go
Due: clsi

[misc] streamline parsing of options
  pkg/options/corsOptions/parse.go
  pkg/options/jwtOptions/parse.go
  pkg/options/listenAddress/parse.go
  pkg/options/mongoOptions/parse.go
  pkg/options/redisOptions/parse.go
  pkg/options/utils/common.go
  services/chat/main.go
  services/chat/options.go
  services/clsi/options.go
  services/contacts/main.go
  services/docstore/options.go
  services/document-updater/options.go
  services/filestore/options.go
  services/linked-url-proxy/options.go
  services/notifications/options.go
  services/real-time/options.go
  services/spelling/options.go
  services/web/options.go
Due: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

[clsi] cleanup unused StringParameter interface
  pkg/sharedTypes/paths.go
  services/clsi/pkg/types/interfaces.go
  services/clsi/pkg/types/types.go
Due: clsi

[real-time] implement a minimal monolithic webApi.Manager
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tokens.go
  pkg/models/project/tree.go
  pkg/models/project/views.go
  pkg/models/user/features.go
  pkg/models/user/fields.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  pkg/models/user/views.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
  services/real-time/pkg/types/client.go
  services/real-time/pkg/types/joinProject.go
  services/real-time/pkg/types/options.go
Due: real-time

[real-time] ignore missing apis.web_api.url when in monolith mode
  services/real-time/pkg/types/options.go
Due: real-time

[real-time] fix stripping down of project projection for anonymous users
  pkg/models/project/manager.go
Due: none

[clsi] accept an all zero user id -- aka anonymous user
  pkg/httpUtils/idValidation.go
  services/clsi/httpController.go
Due: clsi

[real-time] refactor authorization logic into project model
  pkg/models/project/authorization.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tokens.go
  pkg/models/project/views.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/real-time/pkg/types/client.go
  services/real-time/pkg/types/joinProject.go
Due: real-time

[real-time] simplify manipulation of Capabilities
  services/real-time/pkg/types/client.go
Due: real-time

[misc] use strong/weak random generator where appropriate
  services/clsi/pkg/managers/clsi/internal/outputCache/outputCacheManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/redisLocker/redisLocker.go
  services/real-time/pkg/types/client.go
Due: clsi, document-updater, real-time

[real-time] editorEvents: forward forceDisconnect event to all users
  services/real-time/pkg/managers/realTime/internal/editorEvents/pubSub.go
Due: real-time

[real-time] implement graceful shutdown
  services/real-time/httpController.go
  services/real-time/main.go
  services/real-time/pkg/events/connectionRejected.go
  services/real-time/pkg/managers/realTime/internal/broadcaster/broadcaster.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
  services/real-time/pkg/types/options.go
Due: real-time

[real-time] send 503 from /status when shutting down
  services/real-time/httpController.go
Due: real-time

[real-time] simplify check for cross project join
  services/real-time/pkg/managers/realTime/realTimeManager.go
  services/real-time/pkg/types/client.go
Due: real-time

[real-time] improve readability for a bail-out condition
  services/real-time/pkg/managers/realTime/internal/clientTracking/clientTrackingManager.go
Due: real-time

[web] cleanup duplicate/unused types
  services/web/pkg/types/compileProject.go
  services/web/pkg/types/doc.go
Due: web

[misc] unify types for tracking doc positions
  pkg/sharedTypes/docPosition.go
  services/clsi/pkg/managers/clsi/internal/syncTex/syncTex.go
  services/clsi/pkg/types/syncTex.go
Due: clsi

[real-time] refactor tech-debt of generating array of cb-args for RPCs
  services/real-time/httpController.go
  services/real-time/pkg/events/connectionAccepted.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
  services/real-time/pkg/types/client.go
  services/real-time/pkg/types/clientTracking.go
  services/real-time/pkg/types/joinDoc.go
  services/real-time/pkg/types/joinProject.go
  services/real-time/pkg/types/wsBootstrap.go
Due: real-time

[clsi] reserve 0.25 of a core on boxes with more than one core
  services/clsi/pkg/managers/clsi/clsiManager.go
Due: clsi

[models/project] add helper methods for marking as (in-)active / opened
  pkg/models/project/fields.go
  pkg/models/project/manager.go
Due: none

[misc] rework JWT integration and implement loadEditor
  pkg/httpUtils/idValidation.go
  pkg/httpUtils/jwt.go
  pkg/jwt/compileJWT/compileJWT.go
  pkg/jwt/epochJWT/epochJWT.go
  pkg/jwt/jwtHandler/jwtHandler.go
  pkg/jwt/userIdJWT/userIdJWT.go
  pkg/jwt/wsBootstrap/wsBootstrap.go
  pkg/models/project/authorization.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/views.go
  pkg/models/user/editorConfig.go
  pkg/models/user/fields.go
  pkg/models/user/manager.go
  pkg/models/user/views.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/webApiManager.go
  services/notifications/httpController.go
  services/notifications/options.go
  services/real-time/httpController.go
  services/real-time/options.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/real-time/pkg/types/client.go
  services/spelling/httpController.go
  services/spelling/options.go
  services/web/httpController.go
  services/web/main.go
  services/web/options.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/loadEditor.go
  services/web/pkg/types/options.go
Due: document-updater, notifications, real-time, spelling, web

[web] loadEditor: optimize one RTT away
  services/web/pkg/managers/web/internal/editor/editorManager.go
Due: web

[web] emit Server-Timing for editorLocals endpoint
  pkg/sharedTypes/timed.go
  services/web/httpController.go
Due: web

[real-time] always emit updates object from joinDoc rpc
  services/real-time/pkg/types/joinDoc.go
Due: real-time

[models/project] fix concurrent map access when preparing projections
  pkg/models/internal/views/views.go
  pkg/models/project/manager.go
Due: none

[clsi] perf: use a single output.stderr/output.stdout file
  services/clsi/pkg/managers/clsi/internal/latexRunner/latexRunner.go
  services/clsi/pkg/managers/clsi/internal/outputCache/outputCacheManager.go
  services/clsi/pkg/managers/clsi/internal/project/project.go
  services/clsi/pkg/managers/clsi/internal/resourceCleanup/resourceCleanup.go
Due: clsi

[clsi] perf: drop support for sync-to-code/pdf w/o build id
  services/clsi/pkg/managers/clsi/clsiManager.go
  services/clsi/pkg/managers/clsi/internal/resourceCleanup/resourceCleanup.go
  services/clsi/pkg/types/syncTex.go
  services/clsi/pkg/types/types.go
Due: clsi

[web] perf: LoadEditor: skip fetching owner features when user is owner
  services/web/pkg/managers/web/internal/editor/editorManager.go
Due: web

[real-time] fix joinDoc for empty docs
  services/real-time/pkg/types/joinDoc.go
Due: real-time

[web] implement projectListLocals endpoint
  pkg/models/project/authorization.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/views.go
  pkg/models/tag/fields.go
  pkg/models/tag/manager.go
  pkg/models/tag/models.go
  pkg/models/tag/views.go
  pkg/models/user/emailDetails.go
  pkg/models/user/fields.go
  pkg/models/user/views.go
  services/web/httpController.go
  services/web/options.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/options.go
  services/web/pkg/types/projectList.go
Due: web

[web] projectList: tweak init of notifications jwt
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
Due: web
