Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

chat:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/chat') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/chat/docker-image.digest.txt'
            }
  ...

clsi:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/clsi') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/clsi/docker-image.digest.txt'
            }
  ...

contacts:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/contacts') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/contacts/docker-image.digest.txt'
  ...

docstore:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/docstore') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/docstore/docker-image.digest.txt'
  ...

document-updater:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/document-updater') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
  ...

filestore:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/filestore') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/filestore/docker-image.digest.txt'
  ...

linked-url-proxy:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/linked-url-proxy') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
  ...

notifications:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/notifications') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
  ...

real-time:
            agent {
              label 'docker_builder'
            }
            steps {
              dir('services/real-time') {
                sh 'make docker/build/production'
                sh 'make docker/push'
              }
              archiveArtifacts 'services/real-time/docker-image.digest.txt'
  ...

[perf] inline string formatting on hot paths
  pkg/redisLocker/redisLocker.go
  services/filestore/pkg/managers/filestore/filestoreManager.go
  services/track-changes/pkg/managers/trackChanges/flush/doc.go
  services/web/pkg/managers/web/internal/compile/persistence.go
  services/web/pkg/managers/web/internal/healthCheck/api.go
Due: filestore, web

[misc] drop unused db object from a few managers
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
  services/web/pkg/managers/web/internal/userCreation/userCreationManager.go
  services/web/pkg/managers/web/webManager.go
Due: web

[misc] remove unused sharedTypes.TrackChangesSeed
  pkg/sharedTypes/appliedOps.go
Due: none

[web] fetch clsi server id in parallel to fetching request details
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/compile/persistence.go
Due: web

[web] add support for bundling clsi with web
  services/web/main.go
  services/web/pkg/managers/web/internal/compile/bundle.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/compile/syncTex.go
  services/web/pkg/managers/web/internal/compile/wordCount.go
  services/web/pkg/managers/web/webManager.go
Due: web

[WIP] provide a binary with all services, but linked-url-proxy
  cmd/overleaf/main.go
  services/clsi/httpController.go
  services/clsi/main.go
  services/real-time/main.go
  services/real-time/pkg/router/httpController.go
  services/spelling/main.go
  services/spelling/pkg/router/httpController.go
  services/web/main.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/router/httpController.go
Due: clsi, real-time, spelling, web

[WIP] provide a binary with all services, but linked-url-proxy
  cmd/overleaf/main.go
Due: none

[real-time] fix delay handling in graceful shutdown sequence
  services/real-time/pkg/managers/realTime/realTimeManager.go
Due: real-time

[WIP] provide a binary with all services, but linked-url-proxy
  cmd/overleaf/main.go
  services/spelling/pkg/router/httpController.go
  services/web/pkg/router/httpController.go
Due: spelling, web

[perf] skip traversing into sub-router with empty path prefix
  pkg/httpUtils/router.go
Due: none

[WIP] provide a binary with all services, but linked-url-proxy
  cmd/emailTest/main.go
  cmd/overleaf/main.go
  pkg/options/utils/common.go
  services/clsi/options.go
  services/document-updater/options.go
  services/real-time/options.go
  services/spelling/options.go
  services/web/options.go
  services/web/pkg/types/options.go
Due: clsi, document-updater, real-time, spelling, web

[WIP] provide a binary with all services, but linked-url-proxy
  cmd/m2pq/internal/models/project/pq.go
Due: none

[document-updater] skip queue entry on parse error for key
  services/document-updater/pkg/managers/documentUpdater/internal/dispatchManager/dispatchManager.go
Due: document-updater

[web] simplify parallel fetching of clsiServerId
  services/web/pkg/managers/web/internal/compile/compileManager.go
Due: web

[web] fix RW token access
  pkg/models/project/tokens.go
  services/web/pkg/managers/web/internal/tokenAccess/tokenAccessManager.go
Due: web

[models/project] omit deleted nodes from project tree entities
  pkg/models/project/manager.go
Due: none

[models/projectInvite] cleanup notification after accepting invitation
  pkg/models/projectInvite/manager.go
Due: none

[models/notifications] emit notification id from listing
  pkg/models/notification/manager.go
Due: none

[web] route: fix route for marking a notification as read
  services/web/pkg/router/httpController.go
Due: web

[misc] make UUID compatible with scanning via pgx
  pkg/sharedTypes/primitives.go
Due: none

[WIP] migrate to pgx
  pkg/models/docHistory/manager.go
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  pkg/models/projectInvite/manager.go
  pkg/models/user/editorConfig.go
  pkg/models/user/features.go
  pkg/models/user/manager.go
  pkg/sharedTypes/appliedOps.go
  pkg/sharedTypes/primitives.go
  services/real-time/pkg/managers/realTime/internal/documentUpdater/documentUpdaterManager.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
Due: real-time

[misc] build a leaner execAgent by not including pgtype
  pkg/sharedTypes/appliedOps.go
  pkg/sharedTypes/appliedOps_db.go
  pkg/sharedTypes/primitives.go
  pkg/sharedTypes/primitives_db.go
  services/clsi/Makefile
Due: clsi

[WIP] migrate to pgx
  cmd/m2pq/internal/models/chat/pq.go
  cmd/m2pq/internal/models/contact/pq.go
  cmd/m2pq/internal/models/docHistory/pq.go
  cmd/m2pq/internal/models/notification/pq.go
  cmd/m2pq/internal/models/oneTimeToken/pq.go
  cmd/m2pq/internal/models/project/pq.go
  cmd/m2pq/internal/models/project/tree.go
  cmd/m2pq/internal/models/projectInvite/pq.go
  cmd/m2pq/internal/models/tag/pq.go
  cmd/m2pq/internal/models/user/editorConfig.go
  cmd/m2pq/internal/models/user/features.go
  cmd/m2pq/internal/models/user/pq.go
  go.mod
  go.sum
  pkg/models/docHistory/manager.go
  pkg/models/oneTimeToken/manager.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  pkg/models/projectInvite/manager.go
  pkg/models/user/backFilling.go
  pkg/models/user/features.go
  pkg/models/user/manager.go
  pkg/sharedTypes/appliedOps_db.go
  pkg/sharedTypes/primitives.go
  pkg/sharedTypes/primitives_db.go
  services/web/pkg/managers/web/internal/editor/contacts.go
  services/web/pkg/managers/web/internal/linkedFile/linkedFileManager.go
  services/web/pkg/managers/web/internal/linkedFile/projectFile.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
Due: web

[WIP] migrate to pgx
  pkg/models/user/editorConfig.go
Due: none

[WIP] migrate to pgx
  pkg/models/project/manager.go
Due: none

[web] fix cookie persistence for clsi requests
  services/web/pkg/managers/web/internal/compile/persistence.go
Due: web

[web] update comment in clsi cookie persistence
  services/web/pkg/managers/web/internal/compile/persistence.go
Due: web

[misc] normalize modified time of binaries outside docker
  cmd/Makefile
  services/clsi/Makefile
  services/document-updater/Makefile
  services/linked-url-proxy/Makefile
  services/real-time/Makefile
  services/spelling/Makefile
  services/web/Makefile
Due: clsi, document-updater, linked-url-proxy, real-time, spelling, web

[misc] upgrade golang to 1.19
  cmd/Dockerfile
  cmd/Makefile
  go.mod
  services/clsi/Dockerfile
  services/clsi/Makefile
  services/document-updater/Dockerfile
  services/document-updater/Makefile
  services/linked-url-proxy/Dockerfile
  services/linked-url-proxy/Makefile
  services/real-time/Dockerfile
  services/real-time/Makefile
  services/spelling/Makefile
  services/web/Dockerfile
  services/web/Makefile
Due: clsi, document-updater, linked-url-proxy, real-time, spelling, web

[misc] use atomic.Boolean for avoiding data races on trivial flags
  services/clsi/pkg/managers/clsi/internal/project/project.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
Due: clsi, real-time

[misc] double down on shutdown process for real-time servers
  cmd/overleaf/main.go
  services/real-time/main.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
Due: real-time

[misc] fix harmless data races in manifest reload and aspell teardown
  pkg/assets/assets.go
  pkg/assets/watch.go
  services/spelling/pkg/managers/spelling/internal/aspell/internal/aspellRunner/aspellWorkerPool.go
Due: spelling

[misc] fix harmless data race in real-time
  services/real-time/pkg/managers/realTime/internal/broadcaster/broadcaster.go
  services/real-time/pkg/managers/realTime/internal/broadcaster/room.go
Due: real-time

[misc] fix harmless data race in pendingOperation
  pkg/pendingOperation/pendingOperation.go
Due: none

[misc] fix harmless data races in project tracker in clsi
  services/clsi/httpController.go
  services/clsi/pkg/managers/clsi/clsiManager.go
  services/clsi/pkg/managers/clsi/internal/project/project.go
  services/clsi/pkg/managers/clsi/internal/project/projectManager.go
  services/web/pkg/managers/web/internal/compile/bundle.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
Due: clsi, web

[misc] fix harmless data races on error from http server when exiting
  cmd/overleaf/main.go
  services/real-time/main.go
Due: real-time

[web] add aria-label for logout action in navigation dropdown
  pkg/templates/layout/layout-angular.gohtml
  pkg/templates/layout/layout-marketing.gohtml
Due: none

[sharedTypes] cleanup unused EditorEventsMessage.HealthCheck flag
  pkg/sharedTypes/editorEvents.go
  services/real-time/pkg/managers/realTime/internal/editorEvents/pubSub.go
Due: real-time

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**
