Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**

[spelling] CheckWords: validate language parameter
  services/spelling/httpController.go
  services/spelling/pkg/managers/spelling/internal/aspell/aspellManager.go
  services/spelling/pkg/managers/spelling/internal/aspell/internal/aspellRunner/aspellRunner.go
  services/spelling/pkg/managers/spelling/internal/aspell/internal/aspellRunner/aspellWorker.go
  services/spelling/pkg/managers/spelling/internal/aspell/internal/aspellRunner/aspellWorkerPool.go
  services/spelling/pkg/managers/spelling/spellingManager.go
  services/spelling/pkg/types/aspell.go
Due: spelling

[model/project] use typed string for SpellCheckLanguage field
  pkg/models/project/fields.go
Due: none

[document-updater] use secure random source for lock value
  services/document-updater/pkg/managers/documentUpdater/internal/redisLocker/redisLocker.go
Due: document-updater

[misc] drop useless seeding of the math random source
  services/clsi/main.go
  services/real-time/main.go
Due: clsi, real-time

[web] editor: add generic helper for notifying editor about any events
  services/web/pkg/managers/web/internal/editor/chat.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/removeMember.go
  services/web/pkg/managers/web/internal/editor/setMemberPrivilegeLevel.go
  services/web/pkg/managers/web/internal/editor/transferOwnership.go
Due: web

[web] add endpoints for changing project settings
  pkg/errors/common.go
  pkg/models/project/authorization.go
  pkg/models/project/manager.go
  pkg/models/project/tokens.go
  pkg/models/project/views.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/settings.go
  services/web/pkg/types/options.go
  services/web/pkg/types/projectSettings.go
Due: web

[web] split login manager into multiple files
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/getUserJWT.go
  services/web/pkg/managers/web/internal/login/login.go
  services/web/pkg/managers/web/internal/login/logout.go
Due: web

[pkg/session] simplify cleanup of session
  pkg/session/session.go
Due: none

[web] add endpoint for clearing other sessions
  pkg/email/content.go
  pkg/email/internal/templates/noCTABody.gohtml
  pkg/email/noCTA.go
  pkg/models/user/manager.go
  pkg/session/session.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/clearSessions.go
  services/web/pkg/managers/web/internal/login/emilSecurityAlert.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/login.go
Due: web

[pkg/sharedTypes] PathName.Type(): emit type in lowered case
  pkg/sharedTypes/paths.go
Due: none

[filestore] add new public method SendProjectFileFromFS
  services/filestore/pkg/managers/filestore/filestoreManager.go
  services/filestore/pkg/types/options.go
Due: filestore

[document-updater] SetDoc: add support for passing in a Snapshot
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
  services/document-updater/pkg/types/doc.go
Due: document-updater

[web] filetree: AddDocToProject: drop noop request to document updater
  services/document-updater/pkg/types/projectHistory.go
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
Due: document-updater, web

[web] add endpoint for uploading files
  pkg/httpUtils/upload.go
  pkg/models/project/tree.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/fileTree/deleteDoc.go
  services/web/pkg/managers/web/internal/fileTree/deleteFile.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/managers/web/internal/fileTree/isTextFile.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
  services/web/pkg/managers/web/internal/projectMetadata/projectMetadataManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/upload.go
Due: web

[misc] move golang.org/x/crypto import into direct dependencies
  go.mod
Due: none

[web] configure TrustedProxies for proper X-Forwarded-For support
  pkg/httpUtils/clientIP.go
  pkg/options/clientIPOptions/parse.go
  services/web/httpController.go
  services/web/main.go
  services/web/options.go
Due: web

[model/project] use a typed string for the Name field and add validation
  pkg/email/pkg/spamSafe/spamSafe.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/name.go
  services/web/pkg/managers/web/internal/projectInvite/details.go
  services/web/pkg/managers/web/internal/projectList/renameProject.go
  services/web/pkg/types/projectList.go
  services/web/pkg/types/userProjects.go
Due: web

[web] UploadFile: drop unused fallback logic for missing ParentFolderId
  services/web/pkg/managers/web/internal/fileTree/upload.go
Due: web

[web] types: abstract UploadDetails from UploadFileRequest
  services/web/httpController.go
  services/web/pkg/types/upload.go
Due: web

[pkg/errors] TaggedError implements mongodb internal interface Unwrap()
  pkg/errors/common.go
Due: none

[web] add endpoint for creating a new project from a zip file
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/name.go
  pkg/models/project/name_test.go
  pkg/models/project/new.go
  pkg/models/project/tree.go
  pkg/models/project/views.go
  pkg/session/manager.go
  pkg/sharedTypes/paths.go
  pkg/sharedTypes/paths_test.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/settings.go
  services/web/pkg/managers/web/internal/fileTree/isTextFile.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
  services/web/pkg/managers/web/internal/projectUpload/conflictChecker.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
  services/web/pkg/managers/web/internal/projectUpload/rootDoc.go
  services/web/pkg/managers/web/internal/projectUpload/zip.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/options.go
  services/web/pkg/types/upload.go
Due: web

[web] add request validation to all the endpoints
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/compile/syncTex.go
  services/web/pkg/managers/web/internal/compile/wordCount.go
  services/web/pkg/managers/web/internal/editor/setMemberPrivilegeLevel.go
  services/web/pkg/types/compileProject.go
Due: web

[web] Compile: accept optional rootDocPath
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/types/compileProject.go
Due: web

[web] LoadEditor: emit rootDocPath
  pkg/models/project/models.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/types/loadEditor.go
Due: web

[web] Compile: source docs from mongo when none are loaded in redis
  services/web/pkg/managers/web/internal/compile/compileManager.go
Due: web

[web] CreateFromZip: prefer main.tex as rootDoc over other candidates
  services/web/pkg/managers/web/internal/projectUpload/zip.go
Due: web

[docstore] rename CreateDoc to CreateEmptyDoc, add CreateDocWithContent
  services/docstore/pkg/managers/docstore/docstoreManager.go
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
  services/web/pkg/managers/web/internal/projectUpload/zip.go
Due: docstore, web

[docstore] move CreateDocWithContent into model and parallelize creation
  pkg/models/doc/manager.go
  services/docstore/pkg/managers/docstore/docstoreManager.go
Due: docstore

[pkg/mongoTx] skip re-wrapping of the session context
  pkg/mongoTx/mongoTx.go
Due: none

[web] CreateFromZip: add upload queue buffer
  services/web/pkg/managers/web/internal/projectUpload/zip.go
Due: web

[misc] move notifications logic into model, move from jwt to sess auth
  pkg/models/notification/fields.go
  pkg/models/notification/manager.go
  pkg/models/notification/model.go
  services/notifications/httpController.go
  services/notifications/pkg/managers/notifications/notificationsManager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/notifications/notificationsManager.go
  services/web/pkg/managers/web/internal/projectInvite/accept.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/internal/projectInvite/revoke.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/notifications.go
Due: notifications, web

[misc] move contacts logic into model, drop limit parameter from getter
  pkg/models/contact/contactDetails.go
  pkg/models/contact/fields.go
  pkg/models/contact/manager.go
  services/contacts/httpController.go
  services/contacts/pkg/managers/contacts/contactManager.go
  services/web/pkg/managers/web/internal/editor/contacts.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/projectInvite/accept.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/webManager.go
Due: contacts, web

[misc] goodbye contacts service
  Jenkinsfile
  services/contacts/.dockerignore
  services/contacts/.gitignore
  services/contacts/Dockerfile
  services/contacts/Makefile
  services/contacts/httpController.go
  services/contacts/main.go
  services/contacts/options.go
Due: contacts

[pkg/email] spamSafe: add unit tests from NodeJS
  pkg/email/pkg/spamSafe/spamSafe_test.go
Due: none

[web] fileTree: drop unused variables
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
Due: web

[chat] GetMessages: use map for specifying the sorting options
  services/chat/pkg/managers/chat/internal/message/messageManager.go
Due: chat

[web] ProjectList: stop generating and emitting jwtNotifications
  services/web/options.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/options.go
  services/web/pkg/types/projectList.go
Due: web

[misc] goodbye notifications service
  Jenkinsfile
  services/notifications/.dockerignore
  services/notifications/.gitignore
  services/notifications/Dockerfile
  services/notifications/Makefile
  services/notifications/httpController.go
  services/notifications/main.go
  services/notifications/options.go
Due: notifications

[misc] expose Server-Timing details for jwt/session/total stages
  pkg/httpUtils/jwt.go
  pkg/httpUtils/respond.go
  pkg/httpUtils/router.go
  pkg/httpUtils/timing.go
  pkg/session/manager.go
  services/spelling/httpController.go
  services/spelling/main.go
  services/spelling/options.go
  services/web/httpController.go
  services/web/options.go
Due: spelling, web

[docstore] implement bulk insertion of docs
  pkg/models/doc/manager.go
  pkg/models/doc/models.go
  pkg/models/docOps/fields.go
  services/docstore/pkg/managers/docstore/docstoreManager.go
Due: docstore
