Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**

[WIP] migrate from mongodb to edgedb
  pkg/sharedTypes/appliedOps.go
  pkg/sharedTypes/ranges.go
  pkg/translations/cmd/import/main.go
  pkg/translations/locales/en.json
  services/document-updater/pkg/types/joinDoc.go
  services/real-time/pkg/managers/realTime/internal/appliedOps/pubSub.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
  services/real-time/pkg/types/client.go
  services/real-time/pkg/types/joinDoc.go
  services/real-time/pkg/types/rpc.go
Due: document-updater, real-time

[WIP] migrate from mongodb to edgedb
  cmd/manageLearnedWords/main.go
  pkg/models/learnedWords/fields.go
  pkg/models/learnedWords/manager.go
  pkg/models/message/models.go
  pkg/models/project/models.go
  pkg/models/user/fields.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  services/web/pkg/managers/web/internal/spelling/spellingManager.go
  services/web/pkg/managers/web/webManager.go
Due: web

[WIP] migrate from mongodb to edgedb
  services/clsi/httpController.go
  services/clsi/pkg/managers/clsi/clsiManager.go
  services/clsi/pkg/managers/clsi/internal/project/project.go
  services/clsi/pkg/types/status.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/webManager.go
Due: clsi, web

[WIP] migrate from mongodb to edgedb
  go.mod
  go.sum
Due: none

[web] projectUpload: do not hold tx open while uploading binary files
  pkg/errors/common.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  services/web/pkg/constants/constants.go
  services/web/pkg/managers/web/internal/projectDeletion/hardDeletion.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/userDeletion/hardDeletion.go
Due: web

[pkg/templates] set dot type for all the pages
  pkg/templates/admin/manageSite.gohtml
  pkg/templates/admin/registerUsers.gohtml
  pkg/templates/betaProgram/participate.gohtml
  pkg/templates/general/400.gohtml
  pkg/templates/general/404.gohtml
  pkg/templates/general/500.gohtml
  pkg/templates/general/closed.gohtml
  pkg/templates/general/unsupported-browser.gohtml
  pkg/templates/layout/head.gohtml
  pkg/templates/layout/layout-angular.gohtml
  pkg/templates/layout/layout-marketing.gohtml
  pkg/templates/layout/layout-no-js.gohtml
  pkg/templates/learn/page.gohtml
  pkg/templates/openInOverleaf/documentation.gohtml
  pkg/templates/openInOverleaf/gateway.gohtml
  pkg/templates/project/editor.gohtml
  pkg/templates/project/list.gohtml
  pkg/templates/project/tokenAccess.gohtml
  pkg/templates/project/viewInvite.gohtml
  pkg/templates/user/activate.gohtml
  pkg/templates/user/confirmEmail.gohtml
  pkg/templates/user/login.gohtml
  pkg/templates/user/logout.gohtml
  pkg/templates/user/passwordReset.gohtml
  pkg/templates/user/reconfirm.gohtml
  pkg/templates/user/register.gohtml
  pkg/templates/user/restricted.gohtml
  pkg/templates/user/sessions.gohtml
  pkg/templates/user/setPassword.gohtml
  pkg/templates/user/settings.gohtml
Due: none

[web] update project last opened time in the background
  pkg/models/project/manager.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
Due: web

[misc] drop support for comment components in sharejs ops
  pkg/sharedTypes/appliedOps.go
  services/document-updater/pkg/sharejs/types/text/apply.go
  services/document-updater/pkg/sharejs/types/text/apply_test.go
  services/document-updater/pkg/sharejs/types/text/transform.go
  services/document-updater/pkg/sharejs/types/text/transform_test.go
Due: document-updater

[WIP] prepare plain postgres schema
  db/schema.sql
Due: none

[WIP] migrate to plain sql
  db/schema.sql
  pkg/models/doc/manager.go
  pkg/models/message/manager.go
  pkg/models/message/models.go
  pkg/models/notification/manager.go
  pkg/models/tag/manager.go
Due: none

[WIP] migrate to plain sql
  pkg/models/message/manager.go
  pkg/models/oneTimeToken/manager.go
  pkg/models/oneTimeToken/oneTimeToken.go
  pkg/models/tag/manager.go
  pkg/models/user/auditLog.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  pkg/models/user/new.go
  pkg/sharedTypes/primitives.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/managers/web/internal/userCreation/adminCreateUser.go
  services/web/pkg/managers/web/internal/userCreation/createUser.go
  services/web/pkg/managers/web/internal/userCreation/registerUser.go
  services/web/pkg/types/userCreation.go
Due: web

[WIP] migrate to plain sql
  pkg/models/doc/manager.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/tag/models.go
  pkg/models/user/auditLog.go
  pkg/models/user/emailDetails.go
  pkg/models/user/fields.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/userDeletion/softDeletion.go
Due: web

[clsi] use plain tcp for talking to the agent
  services/clsi/cmd/execAgent/execAgent.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/agentRunner.go
Due: clsi

[WIP] migrate to plain sql
  db/schema.sql
  pkg/models/project/authorization.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/new.go
  pkg/models/project/tree.go
  pkg/models/user/backFilling.go
  pkg/models/user/features.go
  pkg/models/user/manager.go
  pkg/models/user/new.go
  pkg/sharedTypes/compiles.go
  pkg/sharedTypes/primitives.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/types/joinProject.go
  services/web/pkg/managers/web/internal/compile/headless.go
  services/web/pkg/managers/web/internal/editor/getProjectJWT.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/userDeletion/softDeletion.go
Due: real-time, web

[WIP] migrate to plain sql
  db/schema.sql
  pkg/models/project/manager.go
  pkg/models/user/editorConfig.go
  pkg/models/user/features.go
  pkg/models/user/manager.go
  pkg/models/user/new.go
  pkg/sharedTypes/primitives.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
Due: web

[WIP] migrate to plain sql
  pkg/models/project/manager.go
  pkg/models/user/backFilling.go
Due: none

[WIP] migrate to plain sql
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  pkg/templates/project.go
  pkg/templates/project/list.gohtml
  services/clsi/pkg/managers/clsi/internal/resourceWriter/resourceCache.go
  services/clsi/pkg/managers/clsi/internal/urlCache/urlCache.go
  services/clsi/pkg/types/compile.go
  services/document-updater/pkg/types/doc.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/projectMetadata/cache.go
  services/web/pkg/managers/web/internal/projectMetadata/projectMetadataManager.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
Due: clsi, document-updater, real-time, web

[WIP] migrate to plain sql
  db/schema.sql
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  pkg/templates/layout/layout-angular.gohtml
  pkg/templates/layout/layout-marketing.gohtml
  services/web/pkg/managers/web/internal/editor/getProjectJWT.go
  services/web/pkg/managers/web/internal/fileTree/addFolder.go
  services/web/pkg/managers/web/internal/linkedFile/linkedFileManager.go
Due: web

[WIP] migrate to plain sql
  db/schema.sql
  pkg/models/message/manager.go
  pkg/models/project/manager.go
  pkg/models/user/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/removeMember.go
  services/web/pkg/managers/web/internal/editor/settings.go
  services/web/pkg/managers/web/internal/fileTree/projectEntities.go
  services/web/pkg/managers/web/internal/projectDeletion/projectDeletionManager.go
  services/web/pkg/managers/web/internal/projectDeletion/softDeletion.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/userDeletion/softDeletion.go
  services/web/pkg/managers/web/internal/userDeletion/userDeletionManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectEntities.go
  services/web/pkg/types/projectMember.go
Due: web

[WIP] migrate to plain sql
  pkg/models/oneTimeToken/manager.go
  pkg/models/project/manager.go
  pkg/sharedTypes/primitives.go
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
  services/web/pkg/managers/web/internal/fileTree/addFolder.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
Due: web

[WIP] migrate to plain sql
  pkg/models/project/manager.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/managers/web/internal/fileTree/renameDoc.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
  services/web/pkg/managers/web/internal/userCreation/userCreationManager.go
Due: web

[WIP] migrate to plain sql
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/new.go
  pkg/models/project/tree.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/web/pkg/managers/web/internal/fileTree/restoreDoc.go
  services/web/pkg/managers/web/internal/projectDownload/single.go
Due: real-time, web

[WIP] migrate to plain sql
  pkg/models/project/manager.go
Due: none

[WIP] migrate to plain sql
  db/schema.sql
  pkg/models/project/authorization.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/session/session.go
  services/web/pkg/managers/web/internal/compile/headless.go
  services/web/pkg/managers/web/internal/projectInvite/details.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
Due: web

[WIP] migrate to plain sql
  pkg/models/project/authorization.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tokens.go
  pkg/models/user/manager.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/web/pkg/managers/web/internal/editor/setMemberPrivilegeLevel.go
  services/web/pkg/managers/web/internal/projectInvite/accept.go
  services/web/pkg/managers/web/internal/projectInvite/details.go
  services/web/pkg/managers/web/internal/tokenAccess/tokenAccessManager.go
Due: real-time, web

[WIP] migrate to plain sql
  pkg/models/doc/manager.go
  pkg/models/message/manager.go
  pkg/models/notification/manager.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  pkg/models/projectInvite/manager.go
  pkg/models/tag/manager.go
  pkg/models/user/editorConfig.go
  pkg/models/user/manager.go
  services/web/pkg/managers/web/internal/editor/setMemberPrivilegeLevel.go
  services/web/pkg/managers/web/internal/projectInvite/accept.go
  services/web/pkg/managers/web/internal/projectInvite/view.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/types/projectMember.go
Due: web

[WIP] migrate to plain sql
  cmd/internal/utils/edgedb.go
  db/schema.sql
  go.mod
  go.sum
  pkg/email/send.go
  pkg/models/docHistory/manager.go
  pkg/models/docHistory/models.go
  pkg/models/oneTimeToken/manager.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
  pkg/models/projectInvite/manager.go
  pkg/models/tag/manager.go
  pkg/models/tag/models.go
  pkg/models/user/manager.go
  pkg/objectStorage/minio.go
  pkg/session/session.go
  pkg/sharedTypes/appliedOps.go
  pkg/sharedTypes/initTimeZone.go
  services/document-updater/pkg/managers/documentUpdater/documentUpdaterManager.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/types/joinProject.go
  services/track-changes/pkg/managers/trackChanges/diff/getDiff.go
  services/track-changes/pkg/managers/trackChanges/flush/doc.go
  services/track-changes/pkg/managers/trackChanges/updates/updatesManager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/healthCheck/full.go
  services/web/pkg/managers/web/internal/login/emailSecurityAlert.go
  services/web/pkg/managers/web/internal/projectInvite/create.go
  services/web/pkg/managers/web/internal/projectInvite/details.go
  services/web/pkg/managers/web/internal/projectInvite/list.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/internal/projectInvite/resend.go
  services/web/pkg/managers/web/internal/projectMetadata/cache.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/projectInvite.go
Due: document-updater, real-time, web

[WIP] migrate to plain sql
  db/schema.sql
  dbschema/default.esdl
  dbschema/migrations/00001.edgeql
  dbschema/migrations/00002.edgeql
  dbschema/migrations/00003.edgeql
  dbschema/migrations/00004.edgeql
  dbschema/migrations/00005.edgeql
  dbschema/migrations/00006.edgeql
  dbschema/migrations/00007.edgeql
  dbschema/migrations/00008.edgeql
  dbschema/migrations/00009.edgeql
  dbschema/migrations/00010.edgeql
  dbschema/migrations/00011.edgeql
  dbschema/migrations/00012.edgeql
  dbschema/migrations/00013.edgeql
  dbschema/migrations/00014.edgeql
  dbschema/migrations/00015.edgeql
  dbschema/migrations/00016.edgeql
  dbschema/migrations/00017.edgeql
  dbschema/migrations/00018.edgeql
Due: none

[WIP] migrate to plain sql
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/new.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
Due: web

[WIP] migrate to plain sql
  pkg/models/project/manager.go
  pkg/models/project/models.go
Due: none

[WIP] migrate to plain sql
  pkg/models/project/manager.go
  pkg/models/user/manager.go
  services/web/pkg/managers/web/internal/editor/removeMember.go
  services/web/pkg/managers/web/internal/projectDeletion/projectDeletionManager.go
  services/web/pkg/managers/web/internal/projectDeletion/softDeletion.go
  services/web/pkg/managers/web/internal/userDeletion/softDeletion.go
Due: web

[clsi] build a leaner execAgent binary
  pkg/sharedTypes/primitives.go
  services/clsi/Makefile
Due: clsi

[misc] minor cleanup
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  services/document-updater/pkg/types/doc.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/compile/headless.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/fileTree/moveFolder.go
  services/web/pkg/managers/web/internal/fileTree/renameFolder.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
Due: document-updater, real-time, web

[db] schema: users.learned_words are NOT NULL
  db/schema.sql
Due: none

[WIP] m2pq
  cmd/m2pq/internal/models/contact/contactDetails.go
  cmd/m2pq/internal/models/contact/fields.go
  cmd/m2pq/internal/models/contact/pq.go
  cmd/m2pq/internal/models/deletedFile/fields.go
  cmd/m2pq/internal/models/deletedFile/models.go
  cmd/m2pq/internal/models/doc/fields.go
  cmd/m2pq/internal/models/doc/pq.go
  cmd/m2pq/internal/models/learnedWords/fields.go
  cmd/m2pq/internal/models/learnedWords/pq.go
  cmd/m2pq/internal/models/notification/fields.go
  cmd/m2pq/internal/models/notification/pq.go
  cmd/m2pq/internal/models/oneTimeToken/fields.go
  cmd/m2pq/internal/models/oneTimeToken/oneTimeToken.go
  cmd/m2pq/internal/models/oneTimeToken/pq.go
  cmd/m2pq/internal/models/project/auditLog.go
  cmd/m2pq/internal/models/project/authorization.go
  cmd/m2pq/internal/models/project/fields.go
  cmd/m2pq/internal/models/project/name.go
  cmd/m2pq/internal/models/project/pq.go
  cmd/m2pq/internal/models/project/tokens.go
  cmd/m2pq/internal/models/project/tree.go
  cmd/m2pq/internal/models/projectInvite/fields.go
  cmd/m2pq/internal/models/projectInvite/pq.go
  cmd/m2pq/internal/models/projectInvite/token.go
  cmd/m2pq/internal/models/tag/fields.go
  cmd/m2pq/internal/models/tag/pq.go
  cmd/m2pq/internal/models/user/auditLog.go
  cmd/m2pq/internal/models/user/editorConfig.go
  cmd/m2pq/internal/models/user/emailDetails.go
  cmd/m2pq/internal/models/user/features.go
  cmd/m2pq/internal/models/user/fields.go
  cmd/m2pq/internal/models/user/pq.go
  cmd/m2pq/main.go
  go.mod
  go.sum
  pkg/m2pq/ids.go
Due: none
