Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**

[web] WIP: HTML templates
  pkg/httpUtils/age.go
  pkg/translations/locales/en.json
  services/linked-url-proxy/httpController.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/learn/content.go
  services/web/pkg/managers/web/internal/learn/image.go
  services/web/pkg/managers/web/internal/learn/learnManager.go
  services/web/pkg/managers/web/internal/learn/page.go
  services/web/pkg/managers/web/internal/linkedURLProxy/buffer.go
  services/web/pkg/managers/web/internal/linkedURLProxy/fetch.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/templates/layout/layout-angular.gohtml
  services/web/pkg/templates/layout/layout-marketing.gohtml
  services/web/pkg/templates/learn.go
  services/web/pkg/templates/learn/page.gohtml
  services/web/pkg/templates/publicSettings.go
  services/web/pkg/types/learn.go
  services/web/pkg/types/options.go
Due: linked-url-proxy, web

[web] WIP: HTML templates
  pkg/httpUtils/idValidation.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/learn/content.go
  services/web/pkg/managers/web/internal/learn/page.go
  services/web/pkg/managers/web/internal/openInOverleaf/documentClass.go
  services/web/pkg/managers/web/internal/openInOverleaf/fromSnippets.go
  services/web/pkg/types/learn.go
  services/web/pkg/types/openInOverleaf.go
Due: web

[web] WIP: HTML templates
  pkg/session/manager.go
  services/web/httpController.go
  services/web/main.go
  services/web/pkg/managers/web/internal/healthCheck/api.go
  services/web/pkg/managers/web/internal/healthCheck/full.go
  services/web/pkg/managers/web/internal/healthCheck/healthCheckManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/templates/project.go
  services/web/pkg/types/healthCheck.go
  services/web/pkg/types/options.go
Due: web

[web] WIP: HTML templates
  pkg/session/manager.go
  pkg/session/session.go
  pkg/session/sessionData.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/templates/admin.go
  services/web/pkg/templates/betaProgram.go
  services/web/pkg/templates/general.go
  services/web/pkg/templates/layout/layout-angular.gohtml
  services/web/pkg/templates/layout/layout-marketing.gohtml
  services/web/pkg/templates/layout/layout-no-js.gohtml
  services/web/pkg/templates/learn.go
  services/web/pkg/templates/openInOverleaf.go
  services/web/pkg/templates/project.go
  services/web/pkg/templates/project/editor.gohtml
  services/web/pkg/templates/project/list.gohtml
  services/web/pkg/templates/respondHTML.go
  services/web/pkg/templates/templates.go
  services/web/pkg/templates/user.go
  services/web/pkg/types/changePassword.go
Due: web

[web] WIP: HTML templates
  services/web/pkg/assets/assets.go
  services/web/pkg/assets/watch.go
  services/web/pkg/templates/respondHTML.go
Due: web

[web] WIP: HTML templates
  services/web/httpController.go
  services/web/pkg/types/options.go
Due: web

[web] WIP: HTML templates
  services/web/pkg/managers/web/internal/healthCheck/full.go
  services/web/pkg/types/healthCheck.go
Due: web

[web] WIP: HTML templates
  pkg/assets/watch.go
  pkg/templates/admin/manageSite.gohtml
  pkg/templates/admin/registerUsers.gohtml
  pkg/templates/betaProgram/participate.gohtml
  pkg/templates/general/400.gohtml
  pkg/templates/general/404.gohtml
  pkg/templates/general/500.gohtml
  pkg/templates/general/closed.gohtml
  pkg/templates/general/unsupported-browser.gohtml
  pkg/templates/layout/head.gohtml
  pkg/templates/layout/layout-angular.gohtml
  pkg/templates/layout/layout-marketing.gohtml
  pkg/templates/layout/layout-no-js.gohtml
  pkg/templates/learn/page.gohtml
  pkg/templates/openInOverleaf/documentation.gohtml
  pkg/templates/openInOverleaf/gateway.gohtml
  pkg/templates/project/editor.gohtml
  pkg/templates/project/list.gohtml
  pkg/templates/project/tokenAccess.gohtml
  pkg/templates/project/viewInvite.gohtml
  pkg/templates/templates.go
  pkg/templates/user/activate.gohtml
  pkg/templates/user/confirmEmail.gohtml
  pkg/templates/user/login.gohtml
  pkg/templates/user/logout.gohtml
  pkg/templates/user/passwordReset.gohtml
  pkg/templates/user/reconfirm.gohtml
  pkg/templates/user/register.gohtml
  pkg/templates/user/restricted.gohtml
  pkg/templates/user/sessions.gohtml
  pkg/templates/user/setPassword.gohtml
  pkg/templates/user/settings.gohtml
  pkg/translations/translations.go
Due: none

[web] WIP: HTML templates
  pkg/assets/assets.go
  pkg/assets/watch.go
  pkg/templates/layout/layout-angular.gohtml
  pkg/templates/layout/layout-marketing.gohtml
Due: none

[misc] trigger build when any related source file changed
  services/chat/Makefile
  services/clsi/Makefile
  services/docstore/Makefile
  services/document-updater/Makefile
  services/filestore/Makefile
  services/linked-url-proxy/Makefile
  services/real-time/Makefile
  services/spelling/Makefile
  services/web/Makefile
Due: chat, clsi, docstore, document-updater, filestore, linked-url-proxy, real-time, spelling, web

[jenkins] goodbye chat/docstore/filestore builds
  Jenkinsfile
  bin/gen_Jenkinsfile.sh
Due: none

[web] harden handling of mongo vs redis re-sync for epoch changes
  cmd/userAdmin/main.go
  pkg/jwt/epochJWT/epochJWT.go
  pkg/jwt/projectJWT/projectJWT.go
  pkg/session/manager.go
  services/web/pkg/managers/web/internal/editor/removeMember.go
  services/web/pkg/managers/web/internal/editor/setMemberPrivilegeLevel.go
  services/web/pkg/managers/web/internal/editor/transferOwnership.go
  services/web/pkg/managers/web/internal/login/changeEmailAddress.go
  services/web/pkg/managers/web/internal/login/changePassword.go
  services/web/pkg/managers/web/internal/login/clearSessions.go
  services/web/pkg/managers/web/internal/login/logout.go
  services/web/pkg/managers/web/internal/projectInvite/accept.go
  services/web/pkg/managers/web/internal/projectInvite/revoke.go
  services/web/pkg/managers/web/internal/tokenAccess/tokenAccessManager.go
Due: web

[web] log smoke test error and set content-type on response
  services/web/httpController.go
Due: web

[model/project] NewProject: initialize epoch with 1
  pkg/models/project/new.go
Due: none

[web] consistent use of parallel error group context
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
Due: web

[pkg/session] cleanup user tracking in background, we already ignore err
  pkg/session/session.go
Due: none

[web] run api smoke test actions in parallel and cache result for 5s
  services/web/pkg/managers/web/internal/healthCheck/api.go
  services/web/pkg/managers/web/internal/healthCheck/healthCheckManager.go
Due: web

[misc] eliminate most of the 2nd RTTs for c.Find().All() calls
  pkg/models/doc/manager.go
  pkg/models/notification/manager.go
  pkg/models/project/manager.go
  pkg/models/projectInvite/manager.go
  pkg/models/systemMessage/manager.go
  pkg/models/tag/manager.go
  pkg/models/user/manager.go
  services/chat/pkg/managers/chat/internal/message/messageManager.go
  services/chat/pkg/managers/chat/internal/thread/threadManager.go
  services/docstore/httpController.go
  services/docstore/pkg/managers/docstore/docstoreManager.go
  services/docstore/pkg/types/options.go
  services/docstore/pkg/types/pLimits.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
Due: chat, docstore, real-time

[web] add resource hints for preloading styles/fonts/loading-screen
  pkg/assets/assets.go
  pkg/assets/resourceHints.go
  pkg/templates/content.go
  pkg/templates/project.go
  pkg/templates/project/editor.gohtml
  pkg/templates/respondHTML.go
  pkg/templates/templates.go
Due: none

[web] use builtin muted heart symbol in footer and drop fa preload
  pkg/assets/resourceHints.go
  pkg/templates/layout/layout-angular.gohtml
  pkg/templates/layout/layout-marketing.gohtml
Due: none

[misc] delete httpController and entrypoint for chat/docstore/filestore
  services/chat/.dockerignore
  services/chat/.gitignore
  services/chat/Dockerfile
  services/chat/Makefile
  services/chat/httpController.go
  services/chat/main.go
  services/chat/options.go
  services/docstore/.dockerignore
  services/docstore/.gitignore
  services/docstore/Dockerfile
  services/docstore/Makefile
  services/docstore/httpController.go
  services/docstore/main.go
  services/docstore/options.go
  services/filestore/.dockerignore
  services/filestore/.gitignore
  services/filestore/Dockerfile
  services/filestore/Makefile
  services/filestore/httpController.go
  services/filestore/main.go
  services/filestore/options.go
Due: chat, docstore, filestore

[docstore] stop exposing unused doc revision from UpdateDoc
  pkg/models/doc/manager.go
  services/docstore/pkg/managers/docstore/docstoreManager.go
  services/docstore/pkg/managers/docstore/internal/docArchive/docArchiveManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/monolith.go
Due: docstore, document-updater

[models/doc] stop setting the projectId for docs on update, add it to q
  pkg/models/doc/manager.go
Due: none

[jenkins] build docker image for command line utils
  Jenkinsfile
  bin/gen_Jenkinsfile.sh
  cmd/Dockerfile
  cmd/Makefile
Due: none

[docVersionMigration] 1/5: prepare for docVersion migration
  pkg/models/doc/fields.go
  pkg/models/doc/manager.go
  pkg/models/doc/models.go
Due: none

[docVersionMigration] 2/5: migration for writing doc version tombstone
  cmd/migrate/internal/migrations/20220102130000_docVersion_stage2/migrate.go
  cmd/migrate/internal/migrations/all.go
  cmd/migrate/internal/register/registry.go
  cmd/migrate/main.go
  cmd/migrate/migrationManager.go
  pkg/models/doc/manager.go
Due: none

[docVersionMigration] 3/5: write doc version into docs collection only
  pkg/models/doc/filter.go
  pkg/models/doc/manager.go
  pkg/models/doc/models.go
  services/docstore/pkg/managers/docstore/docstoreManager.go
  services/docstore/pkg/managers/docstore/internal/docArchive/docArchiveManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/monolith.go
  services/document-updater/pkg/types/doc.go
Due: docstore, document-updater

[docVersionMigration] 4/5: migration for moving v from docOps into docs
  cmd/migrate/internal/migrations/20220102130000_docVersion_stage4/migrate.go
  cmd/migrate/internal/migrations/all.go
Due: none

[docVersionMigration] 5/5: cleanup references to docOps
  pkg/models/doc/manager.go
Due: none

[docstore] simplify main loop for bulk operations
  pkg/errors/common.go
  services/docstore/pkg/managers/docstore/internal/docArchive/docArchiveManager.go
  services/docstore/pkg/types/pLimits.go
Due: docstore

[misc] move Compiler and ImageName from clsiTypes into sharedTypes
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/new.go
  pkg/sharedTypes/compiles.go
  pkg/templates/project.go
  services/clsi/pkg/managers/clsi/clsiManager.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/agentRunner.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/commandRunner.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/localRunner.go
  services/clsi/pkg/managers/clsi/internal/latexRunner/latexRunner.go
  services/clsi/pkg/managers/clsi/internal/project/project.go
  services/clsi/pkg/types/commandRunner.go
  services/clsi/pkg/types/compile.go
  services/clsi/pkg/types/options.go
  services/clsi/pkg/types/syncTex.go
  services/clsi/pkg/types/types.go
  services/clsi/pkg/types/wordCount.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/types/compileProject.go
  services/web/pkg/types/openInOverleaf.go
  services/web/pkg/types/options.go
  services/web/pkg/types/projectSettings.go
  services/web/pkg/types/upload.go
Due: clsi, web

[web] Compile: translate some more status codes into proper errors
  services/web/pkg/managers/web/internal/compile/compileManager.go
Due: web

[misc] move CompileGroup and ComputeTimeout clsiTypes -> sharedTypes
  pkg/models/user/features.go
  pkg/models/user/new.go
  pkg/sharedTypes/compiles.go
  services/clsi/cmd/execAgent/execAgent.go
  services/clsi/pkg/managers/clsi/clsiManager.go
  services/clsi/pkg/managers/clsi/internal/commandRunner/agentRunner.go
  services/clsi/pkg/managers/clsi/internal/latexRunner/latexRunner.go
  services/clsi/pkg/managers/clsi/internal/project/project.go
  services/clsi/pkg/managers/clsi/internal/syncTex/syncTex.go
  services/clsi/pkg/managers/clsi/internal/wordCounter/wordCounter.go
  services/clsi/pkg/types/commandRunner.go
  services/clsi/pkg/types/compile.go
  services/clsi/pkg/types/execAgent.go
  services/clsi/pkg/types/options.go
  services/clsi/pkg/types/syncTex.go
  services/clsi/pkg/types/types.go
  services/clsi/pkg/types/wordCount.go
  services/web/pkg/types/compileProject.go
Due: clsi, web

[web] cleanup static debug logs
  services/web/pkg/managers/web/internal/learn/content.go
Due: web

[documentUpdater] drop support for connecting to web api
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/webApiManager.go
  services/document-updater/pkg/types/options.go
Due: document-updater

[realTime] drop support for connecting to web api and documentUpdater
  services/real-time/pkg/managers/realTime/internal/documentUpdater/documentUpdaterManager.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/real-time/pkg/types/options.go
Due: real-time

[misc] double down on cleanup of reader from objectStore
  pkg/objectStorage/minio.go
  services/web/httpController.go
  services/web/pkg/types/projectFile.go
Due: web

[realTime] drop endpoint for serving the client blob
  services/real-time/httpController.go
Due: real-time

[misc] prepare for removal of gin
  pkg/errors/docstore.go
  pkg/httpUtils/age.go
  pkg/httpUtils/idValidation.go
  pkg/httpUtils/jwt.go
  pkg/httpUtils/noCache.go
  pkg/httpUtils/parse.go
  pkg/httpUtils/redirect.go
  pkg/httpUtils/respond.go
  pkg/httpUtils/timing.go
  pkg/sharedTypes/appliedOps.go
  pkg/sharedTypes/versioning.go
  pkg/templates/user.go
  services/chat/pkg/managers/chat/chatManager.go
  services/chat/pkg/managers/chat/internal/message/messageManager.go
  services/clsi/cmd/execAgent/execAgent.go
  services/clsi/httpController.go
  services/document-updater/httpController.go
  services/linked-url-proxy/httpController.go
  services/real-time/httpController.go
  services/track-changes/pkg/types/diff.go
  services/track-changes/pkg/types/updates.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/chat.go
  services/web/pkg/managers/web/internal/history/historyManager.go
  services/web/pkg/types/changePassword.go
  services/web/pkg/types/confirmEmail.go
  services/web/pkg/types/history.go
  services/web/pkg/types/projectChat.go
  services/web/pkg/types/projectDownload.go
Due: chat, clsi, document-updater, linked-url-proxy, real-time, web
