Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**

[web] add spelling endpoints behind session authentication
  services/web/httpController.go
  services/web/pkg/managers/web/internal/spelling/spellingManager.go
  services/web/pkg/managers/web/webManager.go
  services/web/pkg/types/spelling.go
Due: web

[spelling] remove mongo access and remove jwt auth from /check
  pkg/jwt/userIdJWT/userIdJWT.go
  services/spelling/httpController.go
  services/spelling/main.go
  services/spelling/options.go
  services/spelling/pkg/managers/spelling/spellingManager.go
  services/web/pkg/managers/web/internal/editor/editorManager.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/types/options.go
Due: spelling, web

[clsi] agentRunner: move texlive to start of PATH
  services/clsi/pkg/managers/clsi/internal/commandRunner/agentRunner.go
Due: clsi

[clsi] execAgent: omit empty fields in the request/response
  services/clsi/pkg/types/execAgent.go
Due: clsi

[clsi] seccomp: allow nanosleep
  services/clsi/seccomp/policy.json
Due: clsi

[web] move request body type for clearing compile cache into types
  services/web/httpController.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/types/compileProject.go
Due: web

[web] minify html templates at boot time
  pkg/templates/admin.go
  pkg/templates/betaProgram.go
  pkg/templates/content.go
  pkg/templates/general.go
  pkg/templates/general/400.gohtml
  pkg/templates/general/500.gohtml
  pkg/templates/general/closed.gohtml
  pkg/templates/general/unsupported-browser.gohtml
  pkg/templates/layout/head.gohtml
  pkg/templates/layout/layout-angular.gohtml
  pkg/templates/layout/layout-marketing.gohtml
  pkg/templates/learn.go
  pkg/templates/learn/page.gohtml
  pkg/templates/minify.go
  pkg/templates/openInOverleaf.go
  pkg/templates/openInOverleaf/documentation.gohtml
  pkg/templates/openInOverleaf/gateway.gohtml
  pkg/templates/project.go
  pkg/templates/project/editor.gohtml
  pkg/templates/project/list.gohtml
  pkg/templates/templates.go
  pkg/templates/user.go
  pkg/templates/user/reconfirm.gohtml
  pkg/templates/user/register.gohtml
  pkg/templates/user/restricted.gohtml
  pkg/templates/user/settings.gohtml
  pkg/translations/locales/en.json
Due: none

[linked-url-proxy] do not emit Content-Length header with fallback value
  services/linked-url-proxy/httpController.go
Due: linked-url-proxy

[pkg/errors] remove unused ToValidateError helper
  pkg/errors/common.go
Due: none

[web] fix api access via jwt on projects for anonymous users
  pkg/jwt/projectJWT/projectJWT.go
  pkg/models/user/manager.go
  services/web/pkg/managers/web/internal/editor/getProjectJWT.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
Due: web

[web] hide symbol palette and rich-text mode buttons in read-only mode
  pkg/templates/project/editor.gohtml
Due: none

[web] drop duplicate server-timing header
  services/web/httpController.go
Due: web

[migrations] docVersion_stage2: do not overwrite any existing version
  cmd/migrate/internal/migrations/20220102130000_docVersion_stage2/migrate.go
Due: none

[migrations] docVersion_stage4: fix labels
  cmd/migrate/internal/migrations/20220102130000_docVersion_stage4/migrate.go
Due: none

[migrations] users_signUpDate_typo: fix typo in users.signUpDate field
  cmd/migrate/internal/migrations/20220126233000_users_signUpDate_typo/migrate.go
  cmd/migrate/internal/migrations/all.go
  pkg/models/user/fields.go
Due: none

[migrations] epoch_init: add migration for initializing all epochs
  cmd/migrate/internal/migrations/20220129191000_epoch_init/migrate.go
  cmd/migrate/internal/migrations/all.go
Due: none

[clsi] seccomp: add missing licence note for policy.json
  services/clsi/seccomp/policy.json.license
Due: clsi

[translations] rename license/notice file of en.json
  pkg/translations/locales/en.json.license
Due: none

[misc] normalize mixed indents
  cmd/Makefile
  pkg/templates/templates.go
  services/clsi/Makefile
  services/document-updater/Makefile
  services/linked-url-proxy/Makefile
  services/real-time/Makefile
  services/spelling/Makefile
  services/web/Makefile
Due: clsi, document-updater, linked-url-proxy, real-time, spelling, web

[misc] set SERVICE_NAME in all docker images
  cmd/Dockerfile
  services/linked-url-proxy/Dockerfile
Due: linked-url-proxy

[dbschema] initial revision
  dbschema/default.esdl
  dbschema/migrations/00001.edgeql
Due: none

[WIP] migrate from mongodb to edgedb
  pkg/models/tag/fields.go
  pkg/models/tag/manager.go
  pkg/models/tag/models.go
  pkg/models/tag/views.go
  services/web/pkg/managers/web/internal/projectDeletion/softDeletion.go
  services/web/pkg/managers/web/internal/userDeletion/hardDeletion.go
Due: web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  pkg/models/learnedWords/fields.go
  pkg/models/learnedWords/manager.go
  pkg/models/notification/manager.go
  pkg/models/tag/manager.go
  services/web/pkg/managers/web/internal/notifications/notificationsManager.go
  services/web/pkg/managers/web/internal/projectInvite/projectInviteManager.go
  services/web/pkg/managers/web/internal/spelling/spellingManager.go
  services/web/pkg/managers/web/internal/userDeletion/hardDeletion.go
  services/web/pkg/managers/web/internal/userDeletion/userDeletionManager.go
  services/web/pkg/managers/web/webManager.go
Due: web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00002.edgeql
  dbschema/migrations/00003.edgeql
  pkg/models/learnedWords/manager.go
  pkg/models/notification/manager.go
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  pkg/models/tag/manager.go
  services/document-updater/main.go
  services/document-updater/pkg/managers/documentUpdater/documentUpdaterManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/docManager/docManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/webApiManager.go
  services/real-time/main.go
  services/real-time/pkg/managers/realTime/internal/documentUpdater/documentUpdaterManager.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/real-time/pkg/managers/realTime/realTimeManager.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/webManager.go
Due: document-updater, real-time, web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00004.edgeql
  dbschema/migrations/00005.edgeql
  pkg/models/project/manager.go
  pkg/models/project/new.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
Due: web

[WIP] migrate from mongodb to edgedb
  pkg/models/project/manager.go
Due: none

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00006.edgeql
  dbschema/migrations/00007.edgeql
  dbschema/migrations/00008.edgeql
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tree.go
Due: none

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00009.edgeql
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/new.go
  pkg/models/project/tree.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
Due: web

[web] projectUpload: use re-only wrapper on shared binary-file blob
  services/web/pkg/managers/web/internal/projectUpload/exampleProjects/content.go
Due: web

[WIP] migrate from mongodb to edgedb
  pkg/errors/common.go
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
Due: web

[WIP] migrate from mongodb to edgedb
  services/web/pkg/managers/web/internal/projectUpload/generic.go
Due: web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00010.edgeql
  dbschema/migrations/00011.edgeql
  dbschema/migrations/00012.edgeql
  dbschema/migrations/00013.edgeql
  dbschema/migrations/00014.edgeql
  dbschema/migrations/00015.edgeql
  dbschema/migrations/00016.edgeql
  dbschema/migrations/00017.edgeql
  pkg/models/deletedUser/deleterData.go
  pkg/models/deletedUser/manager.go
  pkg/models/oneTimeToken/fields.go
  pkg/models/oneTimeToken/manager.go
  pkg/models/oneTimeToken/models.go
  pkg/models/oneTimeToken/passwordResetData.go
  pkg/models/oneTimeToken/views.go
  pkg/models/project/manager.go
  pkg/models/user/emailDetails.go
  pkg/models/user/fields.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  pkg/models/user/new.go
  pkg/session/session.go
  pkg/session/sessionData.go
  services/web/pkg/managers/web/internal/login/confirmEmail.go
  services/web/pkg/managers/web/internal/login/loginManager.go
  services/web/pkg/managers/web/internal/login/resetPassword.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/managers/web/internal/userCreation/registerUser.go
  services/web/pkg/managers/web/internal/userCreation/userCreationManager.go
  services/web/pkg/managers/web/webManager.go
Due: web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00018.edgeql
  dbschema/migrations/00019.edgeql
  dbschema/migrations/00020.edgeql
  dbschema/migrations/00021.edgeql
  dbschema/migrations/00022.edgeql
  dbschema/migrations/00023.edgeql
  dbschema/migrations/00024.edgeql
  dbschema/migrations/00025.edgeql
  dbschema/migrations/00026.edgeql
  dbschema/migrations/00027.edgeql
  dbschema/migrations/00028.edgeql
  pkg/models/oneTimeToken/emailConfirmationData.go
  pkg/models/oneTimeToken/passwordResetData.go
  pkg/models/user/features.go
  pkg/models/user/fields.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  pkg/models/user/new.go
  pkg/options/edgedbOptions/parse.go
  pkg/templates/layout/head.gohtml
  pkg/templates/project/viewInvite.gohtml
  services/clsi/pkg/types/compile.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/web/pkg/managers/web/internal/compile/headless.go
  services/web/pkg/managers/web/internal/editor/getProjectJWT.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/webManager.go
Due: clsi, real-time, web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00029.edgeql
  dbschema/migrations/00030.edgeql
  dbschema/migrations/00031.edgeql
  dbschema/migrations/00032.edgeql
  dbschema/migrations/00033.edgeql
  dbschema/migrations/00034.edgeql
  pkg/models/deletedProject/manager.go
  pkg/models/doc/manager.go
  pkg/models/doc/models.go
  pkg/models/notification/manager.go
  pkg/models/project/authorization.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/new.go
  pkg/models/tag/fields.go
  pkg/models/tag/manager.go
  pkg/models/tag/models.go
  pkg/models/user/backFilling.go
  pkg/models/user/manager.go
  services/docstore/pkg/managers/docstore/docstoreManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/monolith.go
  services/document-updater/pkg/managers/documentUpdater/internal/webApi/webApiManager.go
  services/document-updater/pkg/types/doc.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/managers/realTime/internal/webApi/webApiManager.go
  services/web/pkg/managers/web/internal/compile/headless.go
  services/web/pkg/managers/web/internal/editor/getProjectJWT.go
  services/web/pkg/managers/web/internal/editor/listMembers.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/projectUpload/projectUploadManager.go
  services/web/pkg/managers/web/internal/userDeletion/softDeletion.go
  services/web/pkg/managers/web/webManager.go
Due: docstore, document-updater, real-time, web

[WIP] migrate from mongodb to edgedb
  pkg/models/project/manager.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
Due: web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00035.edgeql
  dbschema/migrations/00036.edgeql
  dbschema/migrations/00037.edgeql
  dbschema/migrations/00038.edgeql
  dbschema/migrations/00039.edgeql
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/editor/settings.go
  services/web/pkg/managers/web/internal/review/trackChanges.go
  services/web/pkg/types/projectSettings.go
  services/web/pkg/types/review.go
Due: web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00040.edgeql
  dbschema/migrations/00041.edgeql
  dbschema/migrations/00042.edgeql
  dbschema/migrations/00043.edgeql
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/new.go
  pkg/models/project/tree.go
  pkg/models/user/editorConfig.go
  pkg/models/user/features.go
  pkg/models/user/fields.go
  pkg/models/user/manager.go
  pkg/models/user/models.go
  pkg/sharedTypes/paths.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/compile/headless.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
  services/web/pkg/managers/web/internal/editor/settings.go
  services/web/pkg/managers/web/internal/projectList/projectListManager.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/types/projectSettings.go
Due: web

[WIP] migrate from mongodb to edgedb
  dbschema/default.esdl
  dbschema/migrations/00044.edgeql
  dbschema/migrations/00045.edgeql
  dbschema/migrations/00046.edgeql
  dbschema/migrations/00047.edgeql
  pkg/models/oneTimeToken/manager.go
  pkg/models/project/fields.go
  pkg/models/project/manager.go
  pkg/models/project/models.go
  pkg/models/project/tokens.go
  pkg/models/project/tree.go
  pkg/models/projectInvite/fields.go
  pkg/models/projectInvite/models.go
  pkg/pubSub/channel/channelManager.go
  services/real-time/pkg/managers/realTime/internal/webApi/monolith.go
  services/real-time/pkg/types/joinProject.go
  services/web/httpController.go
  services/web/pkg/managers/web/internal/fileTree/addDoc.go
  services/web/pkg/managers/web/internal/projectUpload/clone.go
  services/web/pkg/managers/web/internal/projectUpload/exampleProject.go
  services/web/pkg/managers/web/internal/projectUpload/generic.go
  services/web/pkg/types/fileTree.go
Due: real-time, web
