Repository das7pad/overleaf-go: changes, and which Jenkins stages are due for each by the changed paths.
All: chat, clsi, contacts, docstore, document-updater, filestore, linked-url-proxy, notifications, real-time, spelling, web

Path conditions:
  chat: any of: services/chat/**
  clsi: any of: services/clsi/**
  contacts: any of: services/contacts/**
  docstore: any of: services/docstore/**
  document-updater: any of: services/document-updater/**
  filestore: any of: services/filestore/**
  linked-url-proxy: any of: services/linked-url-proxy/**
  notifications: any of: services/notifications/**
  real-time: any of: services/real-time/**
  spelling: any of: services/spelling/**
  web: any of: services/web/**

[WIP] m2pq
  cmd/m2pq/internal/models/deletedFile/pq.go
  cmd/m2pq/internal/models/user/editorConfig.go
  cmd/m2pq/internal/models/user/features.go
  cmd/m2pq/internal/models/user/pq.go
  cmd/m2pq/internal/mongoOptions/mongoOptions.go
  cmd/m2pq/internal/status/status.go
  cmd/m2pq/main.go
  pkg/m2pq/ids.go
Due: none

[WIP] m2pq
  cmd/m2pq/internal/models/contact/pq.go
  cmd/m2pq/internal/models/deletedFile/fields.go
  cmd/m2pq/internal/models/deletedFile/pq.go
  cmd/m2pq/internal/models/project/pq.go
  cmd/m2pq/internal/models/project/tree.go
  cmd/m2pq/internal/models/user/pq.go
  cmd/m2pq/main.go
Due: none

[WIP] m2pq
  cmd/m2pq/internal/models/project/pq.go
  cmd/m2pq/internal/models/tag/pq.go
  cmd/m2pq/main.go
Due: none

[WIP] m2pq
  cmd/m2pq/internal/models/notification/pq.go
  cmd/m2pq/internal/models/oneTimeToken/pq.go
  cmd/m2pq/internal/models/project/pq.go
  cmd/m2pq/internal/models/projectInvite/pq.go
  cmd/m2pq/internal/models/tag/pq.go
  cmd/m2pq/internal/models/user/pq.go
  cmd/m2pq/main.go
Due: none

[WIP] m2pq
  cmd/m2pq/internal/models/project/pq.go
  cmd/m2pq/internal/models/user/pq.go
Due: none

[WIP] m2pq
  cmd/m2pq/internal/models/contact/pq.go
  cmd/m2pq/internal/models/docHistory/pq.go
  cmd/m2pq/internal/models/notification/pq.go
  cmd/m2pq/internal/models/oneTimeToken/pq.go
  cmd/m2pq/internal/models/project/pq.go
  cmd/m2pq/internal/models/projectInvite/pq.go
  cmd/m2pq/internal/models/tag/pq.go
  cmd/m2pq/internal/models/user/pq.go
  cmd/m2pq/main.go
Due: none

[WIP] m2pq
  cmd/m2pq/internal/models/docHistory/pq.go
  pkg/httpUtils/idValidation.go
  pkg/m2pq/ids.go
  services/web/pkg/managers/web/internal/login/activate.go
  services/web/pkg/types/changePassword.go
  services/web/pkg/types/projectDownload.go
Due: web

[web] add access control to project history db queries
  pkg/models/docHistory/manager.go
  services/track-changes/pkg/managers/trackChanges/diff/diffManager.go
  services/track-changes/pkg/managers/trackChanges/diff/getDiff.go
  services/track-changes/pkg/managers/trackChanges/diff/restore.go
  services/track-changes/pkg/managers/trackChanges/updates/updatesManager.go
Due: none

[web] handle deleted users when fetching project chat messages
  pkg/models/message/manager.go
Due: none

[models/project] fix insertion of folders as part of project creation
  pkg/models/project/manager.go
Due: none

[WIP] m2pq
  cmd/m2pq/internal/models/chat/pq.go
  cmd/m2pq/internal/models/contact/pq.go
  cmd/m2pq/internal/models/doc/fields.go
  cmd/m2pq/internal/models/docHistory/pq.go
  cmd/m2pq/internal/models/notification/pq.go
  cmd/m2pq/internal/models/oneTimeToken/oneTimeToken.go
  cmd/m2pq/internal/models/oneTimeToken/pq.go
  cmd/m2pq/internal/models/project/authorization.go
  cmd/m2pq/internal/models/project/name.go
  cmd/m2pq/internal/models/project/pq.go
  cmd/m2pq/internal/models/project/tokens.go
  cmd/m2pq/internal/models/project/tree.go
  cmd/m2pq/internal/models/projectInvite/pq.go
  cmd/m2pq/internal/models/projectInvite/token.go
  cmd/m2pq/internal/models/tag/pq.go
  cmd/m2pq/internal/models/user/editorConfig.go
  cmd/m2pq/internal/models/user/emailDetails.go
  cmd/m2pq/internal/models/user/fields.go
  cmd/m2pq/internal/models/user/pq.go
  cmd/m2pq/internal/mongoOptions/mongoOptions.go
  cmd/m2pq/main.go
Due: none

[db] initial set of indexes
  db/schema.sql
Due: none

[WIP] m2pq
  cmd/m2pq/internal/models/docHistory/pq.go
Due: none

[web] goodbye rich-text mode
  pkg/templates/openInOverleaf/documentation.gohtml
  pkg/templates/project.go
  pkg/templates/project/editor.gohtml
Due: none

[web] migrate oio to marketing layout
  pkg/templates/content.go
  pkg/templates/layout/layout-marketing.gohtml
  pkg/templates/openInOverleaf.go
  pkg/templates/openInOverleaf/documentation.gohtml
  pkg/templates/openInOverleaf/gateway.gohtml
  pkg/translations/locales/en.json
  services/web/httpController.go
  services/web/pkg/managers/web/internal/openInOverleaf/pages.go
  services/web/pkg/types/openInOverleaf.go
Due: web

[models/project] fix Names.MakeUnique behavior when there is one project
  pkg/models/project/name.go
  pkg/models/project/name_test.go
Due: none

[WIP] m2pq
  cmd/m2pq/internal/models/chat/pq.go
  cmd/m2pq/internal/models/contact/pq.go
  cmd/m2pq/internal/models/project/pq.go
  cmd/m2pq/internal/models/user/pq.go
Due: none

[db] 2nd pass of indexes
  db/schema.sql
Due: none

[misc] bump dependencies
  go.mod
  go.sum
  pkg/jwt/jwtHandler/jwtHandler.go
Due: none

[templates] improve accessibility on forms
  pkg/templates/layout/layout-marketing.gohtml
  pkg/templates/project/viewInvite.gohtml
  pkg/templates/user/activate.gohtml
  pkg/templates/user/confirmEmail.gohtml
  pkg/templates/user/login.gohtml
  pkg/templates/user/logout.gohtml
  pkg/templates/user/passwordReset.gohtml
  pkg/templates/user/reconfirm.gohtml
  pkg/templates/user/register.gohtml
  pkg/templates/user/setPassword.gohtml
  pkg/translations/locales/en.json.license
Due: none

[web] refactor session handling
  pkg/models/user/manager.go
  pkg/session/deSyncProtection.go
  pkg/session/manager.go
  pkg/session/session.go
  pkg/session/sessionId.go
  pkg/templates/respondHTML.go
  pkg/templates/user.go
  services/web/pkg/managers/web/internal/login/clearSessions.go
  services/web/pkg/managers/web/internal/login/login.go
Due: web

[web] upload: overwrite docs and files atomically
  pkg/models/project/manager.go
  pkg/models/project/tree.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
Due: web

[web] upload: purge stale uploads via cron
  cmd/m2pq/internal/models/project/pq.go
  db/schema.sql
  pkg/models/project/manager.go
  pkg/objectStorage/minio.go
  services/web/pkg/managers/web/internal/fileTree/cleanup.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/managers/web/internal/fileTree/upload.go
  services/web/pkg/managers/web/webManager.go
Due: web

[db] simplify unique index for root folder
  db/schema.sql
Due: none

[wbe] oio: add user confirmation to gateway when coming from 3rd party
  pkg/templates/openInOverleaf/documentation.gohtml
  pkg/templates/openInOverleaf/gateway.gohtml
  pkg/translations/locales/en.json
Due: none

[misc] optimize (de-)serializing of UUIDs
  pkg/sharedTypes/primitives.go
  pkg/sharedTypes/primitives_test.go
Due: none

[session] skip touching of recently (<1min) created sessions
  pkg/session/manager.go
Due: none

[misc] configure connection pool for postgres
  cmd/internal/utils/postgres.go
  cmd/m2pq/main.go
  pkg/options/postgresOptions/parse.go
  services/document-updater/main.go
  services/real-time/main.go
  services/web/main.go
Due: document-updater, real-time, web

[web] handle user epoch change when updating user password
  pkg/models/user/manager.go
Due: none

[web] hide form elements after submitting password (re-)set form
  pkg/templates/user/passwordReset.gohtml
  pkg/templates/user/setPassword.gohtml
  pkg/translations/locales/en.json
Due: none

[misc] merge common logic for sending POST request to clsi
  services/clsi/pkg/types/common.go
  services/clsi/pkg/types/syncTex.go
  services/clsi/pkg/types/wordCount.go
  services/web/pkg/managers/web/internal/compile/syncTex.go
  services/web/pkg/managers/web/internal/compile/wordCount.go
Due: clsi, web

[misc] minor code cleanup and bug fixes on unhappy code paths
  cmd/m2pq/internal/models/project/pq.go
  cmd/m2pq/internal/models/project/tree.go
  cmd/m2pq/internal/models/user/pq.go
  pkg/email/pkg/spamSafe/spamSafe.go
  pkg/errors/common.go
  pkg/httpUtils/timing.go
  pkg/models/docHistory/manager.go
  pkg/models/project/manager.go
  pkg/models/project/name.go
  pkg/models/project/tree.go
  pkg/session/manager.go
  pkg/sharedTypes/appliedOps.go
  pkg/sharedTypes/compiles.go
  pkg/sharedTypes/primitives.go
  pkg/sharedTypes/text.go
  pkg/sharedTypes/timed.go
  pkg/signedCookie/manager.go
  pkg/templates/minify.go
  services/clsi/pkg/managers/clsi/clsiManager.go
  services/clsi/pkg/managers/clsi/internal/draftMode/draftMode.go
  services/clsi/pkg/managers/clsi/internal/outputCache/outputCacheManager.go
  services/clsi/pkg/managers/clsi/internal/project/project.go
  services/clsi/pkg/managers/clsi/internal/resourceCleanup/resourceCleanup.go
  services/clsi/pkg/managers/clsi/internal/rootDocAlias/rootDocAlias.go
  services/clsi/pkg/types/types.go
  services/document-updater/pkg/managers/documentUpdater/internal/realTimeRedisManager/realTimeRedisManager.go
  services/document-updater/pkg/managers/documentUpdater/internal/redisManager/redisManager.go
  services/linked-url-proxy/httpController.go
  services/real-time/pkg/managers/realTime/internal/appliedOps/pubSub.go
  services/real-time/pkg/types/client.go
  services/spelling/pkg/managers/spelling/internal/aspell/aspellManager.go
  services/web/pkg/managers/web/internal/compile/compileManager.go
  services/web/pkg/managers/web/internal/fileTree/fileTreeManager.go
  services/web/pkg/managers/web/internal/healthCheck/full.go
  services/web/pkg/managers/web/internal/learn/page.go
  services/web/pkg/managers/web/internal/login/clearSessions.go
  services/web/pkg/managers/web/internal/projectMetadata/parse.go
  services/web/pkg/managers/web/internal/projectUpload/rootDoc.go
Due: clsi, document-updater, linked-url-proxy, real-time, spelling, web

[linked-url-proxy] drop unused response header
  services/linked-url-proxy/httpController.go
Due: linked-url-proxy

[perf] cut down allocations in http layer
  go.mod
  go.sum
  pkg/httpUtils/jwt.go
  pkg/httpUtils/router.go
  pkg/session/manager.go
  services/clsi/httpController.go
  services/linked-url-proxy/httpController.go
  services/real-time/httpController.go
  services/spelling/httpController.go
  services/web/httpController.go
Due: clsi, linked-url-proxy, real-time, spelling, web

[pkg/jwt] omit expiry duration from claims, expose duration from handler
  pkg/jwt/expiringJWT/expiringJWT.go
  pkg/jwt/jwtHandler/jwtHandler.go
  services/web/pkg/managers/web/internal/editor/loadEditor.go
Due: web

[web] learn: double down on image cache lock operations during boot
  services/web/pkg/managers/web/internal/learn/image.go
Due: web

[perf] omit Content-Length response header for status 204 responses
  pkg/httpUtils/respond.go
Due: none

[perf] inline string formatting for Server-Timing response header
  pkg/httpUtils/timing.go
Due: none

[web] de-duplicate error logging of smoke test
  services/web/httpController.go
Due: web
